@font-face {
  font-family: "Molot";
  src: url("../static/fonts/Molot/MolotRegular/MolotRegular.woff")
      format("woff"),
    url("../static/fonts/Molot/MolotRegular/MolotRegular.ttf") format("ttf"),
    url("../static/fonts/Molot/MolotRegular/MolotRegular.eot") format("eot");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../static/fonts/MuseoSans/MuseoSansBold/MuseoSansBold.woff")
      format("woff"),
    url("../static/fonts/MuseoSans/MuseoSansBold/MuseoSansBold.ttf")
      format("ttf"),
    url("../static/fonts/MuseoSans/MuseoSansBold/MuseoSansBold.eot")
      format("eot");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../static/fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.woff")
      format("woff"),
    url("../static/fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.ttf")
      format("ttf"),
    url("../static/fonts/MuseoSans/MuseoSansBlack/MuseoSansBlack.eot")
      format("eot");
  font-weight: 900;
  font-style: black;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../static/fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.woff")
      format("woff"),
    url("../static/fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.ttf")
      format("ttf"),
    url("../static/fonts/MuseoSans/MuseoSansMedium/MuseoSansMedium.eot")
      format("eot");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../static/fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.woff")
      format("woff"),
    url("../static/fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.ttf")
      format("ttf"),
    url("../static/fonts/MuseoSans/MuseoSansRegular/MuseoSansRegular.eot")
      format("eot");
  font-weight: 300;
  font-style: bold;
}
@font-face {
  font-family: "MuseoSans";
  src: url("../static/fonts/MuseoSans/MuseoSansItalic/MuseoSansItalic.woff")
      format("woff"),
    url("../static/fonts/MuseoSans/MuseoSansItalic/MuseoSansItalic.ttf")
      format("ttf"),
    url("../static/fonts/MuseoSans/MuseoSansItalic/MuseoSansItalic.eot")
      format("eot");
  font-weight: 500;
  font-style: italic;
}
