$noto-font: "MuseoSans", sans-serif;
$molot-font: "Molot", serif;
$accent: #b3a764;
//$accent-red: #d24a43;
$accent-red: #f53d40;
$orange-color: rgb(242, 125, 14);
$accent-dark: #3f3f3f;
$sub-color: #9b9b9b;
$wall-color: #ebebeb;
$accent-grey: #727272;
$text: #333;
$new-gradient: linear-gradient(
  to right,
  rgb(242, 125, 14) 0%,
  rgb(237, 27, 61) 100%
);
$yel-red-gradient: linear-gradient(to right, #eecf32 0%, #c22328 100%);
$red-gradient: linear-gradient(to left, #dc4622 0%, #b63b1d 100%);
$box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
$box-shadow-up: 5px 23px 20px -15px rgba(0, 0, 0, 0.3);

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);
$gutter: $grid-gutter-width;
