@import "./vars";
.about {
  & .logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & .logo-very-big {
      display: block;
      width: 50%;
      height: auto;
    }
  }
  & .img-container {
    margin-bottom: 15px;
    box-shadow: $box-shadow;
    overflow: hidden;
    border-radius: $border-radius;
    & .about-pic {
      width: 100%;
      //border: 10px solid white;
    }
  }
}
.contacts {
  background-image: #fff;

  & .map-container {
    //box-shadow: $box-shadow;
    border-radius: $border-radius;
    & .myMap {
      width: 100%;
      height: 300px;
      position: relative;
      overflow: hidden;
    }
  }

  & .adres-list {
    margin-bottom: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: $accent-grey;
    border: 3px solid $accent-grey;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: $box-shadow-up;
    & .map-container {
      //height: 300px;
      width: 100%;
      padding-bottom: 15px !important;
    }
    & .contacts-heading {
      font-family: $molot-font;
      text-align: center;
      font-size: 21px;
      color: $accent-grey;
      display: block;
      text-transform: uppercase;
      letter-spacing: 1px;
      //font-weight: 700;
      //padding-top: 10px;
      margin-bottom: 20px;
    }
    & .adres-map-link {
      width: 100%;
      color: $accent-grey;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      font-family: $noto-font;
      letter-spacing: 0.5px;
      text-align: center;
      margin-bottom: 15px;
    }
    & .adres-phones {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      // align-items: flex-start;
      & .phone-link {
        text-align: left;
        display: block;
        //margin: 0 auto;
        font-weight: 400;
        font-size: 14px;
        color: $accent-grey;
      }
    }
    & .adres-email {
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center;
      color: $accent-grey;
      width: 100%;
      font-style: italic;
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    & .link-1 {
      font-size: 14px;
      display: block;
      font-weight: 300;
      color: $accent-grey;
    }
    & .link-11 {
      font-size: 14px;
      display: block;
      font-weight: 700;
      color: $accent-grey;
    }
  }
}
.napravleniya {
  padding: 30px 0 50px 0;
  & .header-sections {
    text-align: left;
  }
}
.certs {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  & .certs-card {
    padding: 15px;
    width: 50%;
    cursor: pointer;
    & .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      & .certs-img-1 {
        width: 100%;
        transition: all 0.2s ease-in;
        //max-width: 200px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
        box-shadow: $box-shadow;
        &:hover {
          box-shadow: 0 5px 40px -15px rgba(0, 0, 0, 0.55);
        }
      }
      & .certs-img-2 {
        //max-width: 300px;
        width: 100%;
      }
    }
  }
}
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about {
    & .logo-container {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      & .logo-very-big {
        display: block;
        margin-bottom: 30px;
        width: 70%;
        height: auto;
      }
    }
    & .img-container {
      & .about-pic {
        max-width: 100%;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        //border: 10px solid white;
      }
    }
  }

  .contacts {
    & .map-container {
      transform: translateX(-15px);
      padding-bottom: 0 !important;
    }
    & .adres-list {
      margin-bottom: 30px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      color: $accent-grey;
      border: 3px solid $accent-grey;

      & .map-container {
        //height: 300px;
        width: 100%;
        padding-bottom: 15px !important;
      }
      & .contacts-heading {
        font-family: $molot-font;
        text-align: center;
        font-size: 21px;
        color: $accent-grey;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        //font-weight: 700;
        //padding-top: 10px;
        margin-bottom: 20px;
      }
      & .adres-map-link {
        width: 100%;
        color: $accent-grey;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        font-family: $noto-font;
        letter-spacing: 0.5px;
        text-align: center;
        margin-bottom: 15px;
      }
      & .adres-phones {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        // align-items: flex-start;
        & .phone-link {
          text-align: left;
          display: block;
          //margin: 0 auto;
          font-weight: 400;
          font-size: 14px;
          color: $accent-grey;
        }
      }
      & .adres-email {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
        color: $accent-grey;
        width: 100%;
        font-style: italic;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
      }
      & .link-1 {
        font-size: 14px;
        display: block;
        font-weight: 300;
        color: $accent-grey;
      }
      & .link-11 {
        font-size: 14px;
        display: block;
        font-weight: 700;
        color: $accent-grey;
      }
    }
    & .link-map {
      & .link-map-header {
        padding-left: 8px;
        text-align: left;
      }
      & .link-map-list {
        margin-top: 10px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        & .link-map-item {
          padding: 0px 8px;
          & .link-map-link {
            display: block;
            color: #ffffff;
            width: 100%;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }
    }
  }
  .certs {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    & .certs-card {
      padding: 15px;
      width: 32%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .certs {
    flex-wrap: nowrap;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contacts {
    padding-top: 0;
    & .adres-list {
      height: 100%;
      box-shadow: $box-shadow;
      border-radius: $border-radius;
      border: none;
      padding-left: 45px;
      & .contacts-heading {
        font-family: $molot-font;
        text-align: left;
        font-size: 27px;
        color: $accent-grey;
        display: block;
        text-transform: uppercase;
        letter-spacing: 1px;
        //font-weight: 700;
        //padding-top: 10px;
        margin-bottom: 20px;
      }
      & .adres-map-link {
        width: 100%;
        color: $accent-grey;
        font-size: 22px;
        font-weight: 300;
        line-height: 28px;
        font-family: $noto-font;
        letter-spacing: 0.5px;
        text-align: left;
        margin-bottom: 30px;
      }
      & .adres-phones {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
        // align-items: flex-start;
        & .phone-link {
          text-align: left;
          display: block;
          //margin: 0 auto;
          font-weight: 700;
          font-size: 19px;
          color: $accent-grey;
        }
      }
      & .adres-email {
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: left;
        color: $accent-red;
        width: 100%;
        font-style: italic;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 3px;
      }
      & .link-1 {
        font-size: 16px;
        display: block;
        font-weight: 300;
        color: $accent-grey;
        line-height: 22px;
      }
      & .link-11 {
        font-size: 17px;
        display: block;
        font-weight: 700;
        color: $accent-grey;
      }
    }
    & .map-container {
      height: 458px;
      width: 100%;
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
