@import "./vars";
.about {
  & .logo-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & .logo-very-big {
      display: block;
      width: 50%;
      height: auto;
    }
  }
  & .img-container {
    & .about-pic {
      max-width: 100%;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
      //border: 10px solid white;
    }
  }
}
.contacts {
  background-image: linear-gradient(-265deg, #cb4828 0%, #e46849 100%);
  & .adres-map-link {
    width: 100%;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    font-family: $noto-font;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
  }
  & .map-container {
    //box-shadow: 10px -10px 35px rgba(0, 0, 0, 0.1);
  }
  & .contacts-heading {
    text-align: center;
    font-size: 20px;
    color: lightgrey;
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    //font-weight: 700;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  & .adres-list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  & .map-container {
    height: 300px;
    width: 100%;
  }
  & .adres-phones {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    // align-items: flex-start;
    & .phone-link {
      display: block;
      margin: 0 auto;
      font-weight: 400;
      font-size: 18px;
      color: #ffffff;
    }
    & .phone-link-big {
      font-size: 26px;
      font-weight: 700;
    }
  }
  & .adres-email {
    text-align: center;
    color: #ffffff;
    width: 100%;
    font-style: italic;
    font-size: 18px;
    font-weight: 700;
  }
  & .link-1 {
    display: block;
    color: white;
  }
}
.napravleniya {
  padding: 30px 0 50px 0;
}
.certs {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  & .certs-card {
    padding: 15px;
    width: 50%;
    cursor: pointer;
    & .img-container {
      display: flex;
      justify-content: center;
      align-items: center;
      & .certs-img-1 {
        width: 100%;
        transition: all 0.2s ease-in;
        //max-width: 200px;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
        box-shadow: $box-shadow;
        &:hover {
          box-shadow: 0 5px 40px -15px rgba(0, 0, 0, 0.55);
        }
      }
      & .certs-img-2 {
        //max-width: 300px;
        width: 100%;
      }
    }
  }
}
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .about {
    & .logo-container {
      height: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      & .logo-very-big {
        display: block;
        margin-bottom: 30px;
        width: 70%;
        height: auto;
      }
    }
    & .img-container {
      & .about-pic {
        max-width: 100%;
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
        //border: 10px solid white;
      }
    }
  }
  .contacts {
    & .map-container {
      transform: translateX(-15px);
    }
    & .adres-list {
      text-align: left;
      & .adres-map-link {
        text-align: left;
        font-size: 20px;
      }
      & .adres-email {
        text-align: left;
      }
      & .adres-phones {
        & .phone-link {
          margin: 0 auto 0 0 !important;
        }
        & .phone-link-big {
          font-size: 24px;
        }
      }
    }
    & .link-map {
      & .link-map-header {
        padding-left: 8px;
        text-align: left;
      }
      & .link-map-list {
        margin-top: 10px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        & .link-map-item {
          padding: 0px 8px;
          & .link-map-link {
            display: block;
            color: #ffffff;
            width: 100%;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }
    }
  }
  .certs {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    & .certs-card {
      padding: 15px;
      width: 32%;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .certs {
    flex-wrap: nowrap;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .contacts {
    padding-top: 0;
    & .contacts-heading {
      margin-top: 40px;
      font-size: 32px;
      color: white;
      text-align: left;
    }
    & .map-container {
      height: 458px;
      width: 100%;
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
