@import "./vars";
.calcAdv {
  overflow-x: hidden;
  position: relative;
  background-color: #fff;
  border-top: 5px solid #dcdcdc;
  border-bottom: 5px solid #dcdcdc;
  z-index: 0;
  //min-height: 420px;
  & .dots-right {
    position: absolute;
    display: block;
    width: 213px;
    height: 259px;
    top: 0;
    right: 0;
    opacity: 0.5;
    background: url("/static/images/dots-min-white.png") 0% 0% no-repeat;
  }
  & .dots-left {
    position: absolute;
    display: block;
    width: 213px;
    height: 259px;
    left: 0;
    bottom: 0;
    background: url("/static/images/dots-min.png") 0% 0% no-repeat;
  }
  & .arrow-left-yellow {
    display: block;
    position: absolute;
    z-index: 0;
    top: 50px;
    left: -310px;
    width: 350px;
    height: 310px;
    opacity: 1;
    //transform: translateY(-50%);
    clip-path: polygon(0 0, 92% 0, 100% 45%, 92% 100%, 0 100%);
    border-radius: 3px;
    background-color: #d57c29;
    //background: url("/static/images/dots-min.png") 0% 0% no-repeat, #d57c29;
  }
  & .arrow-right-red {
    display: block;
    position: absolute;
    z-index: 0;
    top: 50px;
    right: -310px;
    width: 350px;
    height: 310px;
    opacity: 1;
    //transform: translateY(-50%);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 8% 100%, 0 50%);
    border-radius: 3px;
    background-color: #c42729;
  }
  & .calcAdv-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    height: 410px;

    & .row {
      & .col-12 {
        & .wrapper {
          max-width: 230px;
          margin: 0 auto;
          & .header-min-colored {
            font-size: 27px;
            margin-bottom: 45px;
            text-align: center;
          }
          & .calc-desc {
            text-align: center;
            display: block;
            color: #444444;
            font-family: $noto-font;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 30px;
          }
          & .calc-link {
            font-family: $molot-font;
            padding: 0;
            display: block;
            font-weight: 700;
            width: 170px;
            height: 40px;
            border-radius: 3px;
            background-image: $new-gradient;
            color: #ffffff;
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 40px;
            margin: 0 auto;
            text-align: center;
            transform: skewX(-10deg);
            box-shadow: 10px 20px 30px -15px rgba(237, 27, 61, 0.55),
              -10px 20px 30px -15px rgba(242, 125, 14, 0.55);
            transition: box-shadow 0.2s;
            &:hover {
              text-decoration: none;
              cursor: pointer;
              color: #ffffff;
              box-shadow: $box-shadow;
              &::before {
              }
            }
            &:active {
              box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
            }
            & span {
              display: block;
              transform: skewX(10deg);
            }
          }
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .calcAdv {
    overflow-x: hidden;
    position: relative;
    background-color: #fff;
    border-top: 5px solid #dcdcdc;
    border-bottom: 5px solid #dcdcdc;
    z-index: 0;
    //min-height: 420px;
    & .dots-right {
      position: absolute;
      display: block;
      width: 213px;
      height: 259px;
      top: -15%;
      right: 0;
      opacity: 0.3;
      background: url("/static/images/dots-min-white.png") 0% 0% no-repeat;
    }
    & .dots-left {
      position: absolute;
      display: block;
      width: 213px;
      height: 259px;
      left: 0;
      bottom: 0;
      background: url("/static/images/dots-min.png") 0% 0% no-repeat;
    }
    & .arrow-left-yellow {
      display: block;
      position: absolute;
      z-index: -1;
      top: 50px;
      left: -100px;
      width: 350px;
      height: 310px;
      opacity: 0;
      //transform: translateY(-50%);
      clip-path: polygon(0 0, 92% 0, 100% 45%, 92% 100%, 0 100%);
      border-radius: 3px;
      background-color: #d57c29;
      //background: url("/static/images/dots-min.png") 0% 0% no-repeat, #d57c29;
    }
    & .arrow-right-red {
      display: block;
      position: absolute;
      z-index: -1;
      top: 50px;
      right: -100px;
      width: 350px;
      height: 310px;
      opacity: 0;
      //transform: translateY(-50%);
      clip-path: polygon(8% 0, 100% 0, 100% 100%, 8% 100%, 0 50%);
      border-radius: 3px;
      background-color: #c42729;
    }
    & .calcAdv-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      height: 410px;

      & .row {
        & .col-12 {
          & .wrapper {
            max-width: 230px;
            margin: 0 auto;
            & .header-min-colored {
              font-size: 28px;
              margin-bottom: 60px;
              text-align: center;
            }
            & .calc-desc {
              text-align: center;
              display: block;
              color: #444444;
              font-family: $noto-font;
              font-size: 14px;
              font-weight: 400;
              line-height: 22px;
              margin-bottom: 30px;
            }
            & .calc-link {
              font-family: $molot-font;
              padding: 0;
              display: block;
              font-weight: 700;
              width: 170px;
              height: 40px;
              border-radius: 3px;
              background-image: $new-gradient;
              color: #ffffff;
              font-size: 15px;
              letter-spacing: 0.5px;
              line-height: 40px;
              margin: 0 auto;
              text-align: center;
              transform: skewX(-10deg);
              box-shadow: 10px 20px 30px -15px rgba(237, 27, 61, 0.55),
                -10px 20px 30px -15px rgba(242, 125, 14, 0.55);
              transition: box-shadow 0.2s;
              &:hover {
                text-decoration: none;
                cursor: pointer;
                color: #ffffff;
                box-shadow: $box-shadow;
                &::before {
                }
              }
              &:active {
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
              }
              & span {
                display: block;
                transform: skewX(10deg);
              }
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .calcAdv {
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border-top: 5px solid #dcdcdc;
    border-bottom: 5px solid #dcdcdc;
    z-index: 0;
    &::after {
      display: block;
      position: absolute;
      content: "";
      z-index: -1;
      top: 50%;
      left: -20px;
      width: 540px;
      height: 285px;
      transform: translateY(-50%);
      border: 15px solid rgba(255, 255, 255, 1);
      //clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
    }
    &::before {
      display: block;
      position: absolute;
      content: "";
      z-index: 0;
      top: 50%;
      right: -20px;
      width: 540px;
      height: 285px;
      transform: translateY(-50%);
      //border-radius: 3px;
      //clip-path: polygon(5% 0, 100% 0, 100% 100%, 6% 100%, 0 50%);
      border: 15px solid rgba(255, 255, 255, 1);
    }
    & .dots-right {
      position: absolute;
      display: block;
      width: 460px;
      height: 560px;
      top: -60%;
      right: 0;
      opacity: 0.1;
      background: url("/static/images/dots-big-white.png") 0% 0% no-repeat;
    }
    & .dots-left {
      position: absolute;
      display: block;
      width: 460px;
      height: 560px;
      left: 0;
      bottom: -60%;
      opacity: 0.1;
      background: url("/static/images/dots-big-white.png") 0% 0% no-repeat;
    }
    & .arrow-left-yellow {
      display: block;
      position: absolute;
      z-index: -1;
      top: 35px;
      left: 0;
      width: 330px;
      height: 437px;
      //transform: translateY(-50%);
      clip-path: polygon(0 0, 88% 0, 100% 45%, 88% 100%, 0 100%);
      border-radius: 3px;
      background-color: #d57c29;
      //background: url("/static/images/dots-min.png") 0% 0% no-repeat, #d57c29;
    }
    & .arrow-right-red {
      display: block;
      position: absolute;
      z-index: -1;
      top: 35px;
      right: 0px;
      width: 330px;
      height: 437px;
      //transform: translateY(-50%);
      clip-path: polygon(12% 0, 100% 0, 100% 100%, 12% 100%, 0 50%);
      border-radius: 3px;
      background-color: #c42729;
    }
    & .calcAdv-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      height: 510px;

      & .row {
        & .col-12 {
          & .wrapper {
            max-width: 580px;
            margin: 0 auto;
            & .header-min-colored {
              font-size: 36px;
              margin-bottom: 45px;
              text-align: center;
            }
            & .calc-desc {
              text-align: center;
              display: block;
              color: #444444;
              font-family: $noto-font;
              font-size: 22px;
              font-weight: 500;
              line-height: 30px;
              margin-bottom: 30px;
            }
            & .calc-link {
              position: relative;
              font-family: $molot-font;
              padding: 0;
              display: block;
              font-weight: 700;
              width: 270px;
              height: 60px;
              border-radius: 3px;
              background-image: $new-gradient;
              color: #ffffff;
              font-size: 21px;
              letter-spacing: 1px;
              line-height: 60px;
              margin: 0 auto;
              text-align: center;
              transform: skewX(-10deg);
              box-shadow: 10px 20px 30px -15px rgba(237, 27, 61, 0.55),
                -10px 20px 30px -15px rgba(242, 125, 14, 0.55);
              transition: box-shadow 0.2s;
              &::before {
                position: absolute;
                display: block;
                content: "";
                top: 7px;
                left: 7px;
                right: 7px;
                bottom: 7px;
                border-radius: 3px;
                border: 2px solid white;
                transition: all 0.2s ease-in 0.2s;
              }
              &:hover {
                box-shadow: $box-shadow;
                &::before {
                  top: 12px;
                  left: 25px;
                  right: 25px;
                  bottom: 12px;
                  //border-radius: 30px;
                  opacity: 0;
                }
              }
              &:active {
                box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
              }
              & span {
                display: block;
                transform: skewX(10deg);
              }
            }
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  .calcAdv {
    &::after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      left: -20px;
      width: 540px;
      height: 285px;
    }
    &::before {
      top: 50%;
      right: -20px;
      width: 540px;
      height: 285px;
      transform: translateY(-50%);

      border: 15px solid rgba(255, 255, 255, 1);
    }

    & .arrow-left-yellow {
      top: 35px;
      left: 0;
      width: 475px;
      height: 437px;
    }
    & .arrow-right-red {
      top: 35px;
      right: 0px;
      width: 475px;
      height: 437px;
    }
  }
}
