@import "./vars";

.calculator {
  padding-top: 30px;
  padding-bottom: 80px;
}
.bg-calc {
  position: absolute;
  font-size: 44px;
  font-weight: 700;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  color: #fafafa;
  z-index: -1;
  line-height: 44px;
  overflow: hidden;
  left: 5%;
  top: 24%;
  letter-spacing: -3px;
}
.header-razdel {
  line-height: 26px;
  & b {
    color: #cb4828;
  }
}
.calc-text-1 {
  display: block;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.4px;
  line-height: 22px;
  margin-bottom: 10px;
}
.calc-text-2 {
  display: block;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 22px;
}
input {
  padding: 6px 10px;
  border-radius: 40px;
  background-color: #cb4828;
  border: none;
  color: white;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
}
.calc-buttons {
  display: flex;
  padding: 10px 0;
  margin-top: 35px;
  margin-bottom: 15px;
  & .calc-send {
    display: block;
    border-radius: 40px;
    padding: 2px 15px;
    color: #c42f09;
    border: none;
    background-color: #eecf34;
    margin-right: 15px;
    transition: box-shadow 0.2s;
    box-shadow: 13px 13px 16px rgba(0, 0, 0, 0.15);
    &:hover {
      box-shadow: $box-shadow;
    }
  }
  & .calc-reset {
    display: block;
    border-radius: 40px;
    padding: 2px 15px;
    color: #c42f09;
    border: none;
    background-color: white;
    margin-right: 15px;
    transition: box-shadow 0.2s;
    box-shadow: 13px 13px 16px rgba(0, 0, 0, 0.15);
    &:hover {
      box-shadow: $box-shadow;
    }
  }
}
.profit {
  letter-spacing: normal;
}
.calc-form {
  color: white;
  margin-top: 30px;
  padding: 50px 15px;
  box-shadow: $box-shadow;
  background: linear-gradient(to right, #c42f09 0%, #cb4828 100%);
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
  .calc-buttons {
    display: flex;
    padding: 10px 0;
    margin-top: 35px;
    margin-bottom: 15px;
    & .calc-send {
      width: 170px;
      height: 40px;
    }
    & .calc-reset {
      width: 170px;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .bg-calc {
    font-size: 80px;
    font-weight: 700;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    color: #fafafa;
    z-index: -1;
    line-height: 144px;
    left: 5%;
    top: 13%;
    letter-spacing: -3px;
  }
  .calc-form {
    padding: 50px 30px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .bg-calc {
    font-size: 100px;
    z-index: -1;
    line-height: 200px;
    left: 5%;
    top: 8%;
    letter-spacing: -3px;
  }
  .header-razdel {
    line-height: 32px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .bg-calc {
    font-size: 120px;
    z-index: -1;
    line-height: 200px;
    left: 5%;
    top: 4%;
    letter-spacing: -3px;
  }
  .header-razdel {
    line-height: 32px;
  }
  .calc-text-1 {
    display: block;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .calc-text-2 {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 36px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .calc-form {
    padding: 50px 50px;
  }
  .calc-buttons {
    display: flex;
    padding: 10px 0;
    margin-top: 55px;
    margin-bottom: 15px;
  }
  .bg-calc {
    font-size: 200px;
    z-index: -1;
    line-height: 300px;
    left: 5%;
    top: 4%;
    letter-spacing: -3px;
  }
  .header-razdel {
    line-height: 32px;
  }
  .calc-text-1 {
    display: block;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .calc-text-2 {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 36px;
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
