@import "./vars";

.calculator {
  padding-top: 30px;
  padding-bottom: 80px;
  & .container {
    & .row {
      & .col-12 {
        & .calc-header {
          font-size: 23px;
          line-height: 28px;
          font-family: $molot-font;
          color: #5a5a5a;
        }
      }
    }
  }
}
// .bg-calc {
//   position: absolute;
//   font-size: 46px;
//   font-weight: 700;
//   color: rgb(245, 245, 245);
//   z-index: -1;
//   line-height: 54px;
//   overflow: hidden;
//   left: 5%;
//   top: 22%;
//   letter-spacing: -3px;
// }
.header-razdel {
  line-height: 26px;
  & b {
    color: #cb4828;
  }
}
.calc-text-1 {
  display: block;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: -0.4px;
  line-height: 22px;
  margin-bottom: 15px;
}
.calc-text-2 {
  display: block;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 22px;
}
input {
  padding: 10px 20px;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  color: #353535;
  //transform: skewX(-10deg);
  //box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.15);
}
.calc-buttons {
  display: flex;
  padding: 10px 0;
  margin-top: 35px;
  margin-bottom: 15px;
}
.profit {
  display: block;
  margin-top: 30px;
  letter-spacing: normal;
  & b {
    font-size: 20px;
    padding: 0 5px;
    color: #e9b21b;
  }
}
.calc-form {
  color: white;
  margin-top: 15px;
  padding: 50px 15px;
  border-radius: 3px;
  background: $new-gradient;
  //box-shadow: $box-shadow;
  box-shadow: 10px 20px 30px -15px rgba(237, 27, 61, 0.55),
    -10px 20px 30px -15px rgba(242, 125, 14, 0.55);
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
  .calc-buttons {
    display: flex;
    padding: 10px 0;
    margin-top: 35px;
    margin-bottom: 15px;
    & .calc-send {
      width: 170px;
      height: 40px;
    }
    & .calc-reset {
      width: 170px;
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .calculator {
    & .container {
      & .row {
        & .col-12 {
          & .calc-header {
            font-size: 27px;
            line-height: 32px;
          }
        }
      }
    }
  }
  .bg-calc {
    font-size: 80px;
    font-weight: 700;

    z-index: -1;
    line-height: 144px;
    left: 5%;
    top: 13%;
    letter-spacing: -3px;
  }
  .calc-form {
    padding: 50px 30px;
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .bg-calc {
    font-size: 100px;
    z-index: -1;
    line-height: 200px;
    left: 5%;
    top: 8%;
    letter-spacing: -3px;
  }
  .header-razdel {
    line-height: 32px;
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .bg-calc {
    font-size: 120px;
    z-index: -1;
    line-height: 200px;
    left: 5%;
    top: 4%;
    letter-spacing: -3px;
  }
  .header-razdel {
    line-height: 32px;
  }
  .calc-text-1 {
    display: block;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .calc-text-2 {
    display: block;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 30px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .calculator {
    & .container {
      & .row {
        & .col-12 {
          & .calc-header {
            font-size: 36px;
            line-height: 42px;
          }
        }
      }
    }
  }
  .calc-form {
    padding: 50px 50px;
    background: url("/static/images/logo-white.png") 95% 5% no-repeat,
      $new-gradient;
  }
  .calc-buttons {
    display: flex;
    padding: 10px 0;
    margin-top: 55px;
    margin-bottom: 15px;
  }
  .bg-calc {
    font-size: 200px;
    z-index: -1;
    line-height: 300px;
    left: 5%;
    top: 8%;
    letter-spacing: -3px;
  }
  .header-razdel {
    line-height: 38px;
  }
  .calc-text-1 {
    display: block;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.4px;
    line-height: 36px;
    margin-bottom: 10px;
  }
  .calc-text-2 {
    display: block;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.2px;
  }
  .profit {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    letter-spacing: normal;
    & b {
      font-size: 36px;
      padding: 0 15px;
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
