.footer {
  padding-top: 70px;
  padding-bottom: 50px;
  background: #5e5e5e;
  & .footer-logo-container {
    text-align: center;
    margin-bottom: 40px;
    &:hover {
      cursor: pointer;
    }
  }
  & .adres-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    & li {
      margin-bottom: 10px;
    }
    & .adres-map-link {
      width: 100%;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      line-height: 30px;
      // font-family: 'Noto Sans';
      font-weight: 700;
      letter-spacing: -0.5px;
    }
    & .adres-phones {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      & .phone-link {
        display: block;
        margin: 0 auto;
        font-weight: 400;
        font-size: 18px;
        color: #ffffff;
      }
      & .phone-link-big {
        font-size: 26px;
        font-weight: 700;
      }
    }
    & .adres-email {
      color: #ffffff;
      width: 100%;
      font-style: italic;
      font-size: 18px;
      font-weight: 700;
    }
  }
  & .link-map {
    & .link-map-header {
      display: block;
      width: 100%;
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      // letter-spacing: -0.6px;
    }
    & .link-map-list {
      margin-top: 10px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      & .link-map-item {
        & .link-map-link {
          display: block;
          color: #ffffff;
          width: 100%;
          text-align: center;
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .footer {
    & .adres-list {
      text-align: left;
      & .adres-map-link {
        font-size: 20px;
      }
      & .adres-phones {
        & .phone-link {
          margin: 0 auto 0 0 !important;
        }
        & .phone-link-big {
          font-size: 24px;
        }
      }
    }
    & .link-map {
      & .link-map-header {
        padding-left: 8px;
        text-align: left;
      }
      & .link-map-list {
        margin-top: 10px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        & .link-map-item {
          padding: 0px 8px;
          & .link-map-link {
            display: block;
            color: #ffffff;
            width: 100%;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer {
    & .footer-logo-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
