@import "./vars";

.footer {
  text-align: left;
  padding-top: 50px;
  background-image: url("/static/images/prism.png");
  background-size: 50%;

  & .footer-logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100px;
    cursor: pointer;
    & .footer-logo {
      display: block;
      width: 80%;
    }
  }
  & .contacts-header {
    display: block;
    width: 100%;
    padding-left: 7px;
    color: #ffffff;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  & .link-1 {
    display: block;
    padding-left: 10px;
    color: white;
  }
  & .adres-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
    & li {
      //margin-bottom: 10px;
    }
    & .adres-map-link {
      width: 100%;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      // font-family: 'Noto Sans';
      font-weight: 700;
      letter-spacing: -0.5px;
    }
    & .adres-phones {
      width: 100%;
      display: block;
      & .phone-link {
        display: block;
        margin: 0 auto;
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
      }
      & .phone-link-big {
        //font-size: 26px;
        //font-weight: 700;
      }
    }
    & .adres-email {
      color: #ffffff;
      width: 100%;
      font-style: italic;
      font-size: 16px;
    }
  }
  & .link-map {
    & .link-map-header {
      display: block;
      width: 100%;
      padding-left: 7px;
      color: #ffffff;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
    }
    & .link-map-list {
      margin-top: 10px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      & .link-map-item {
        & .link-map-link {
          display: block;
          color: #ffffff;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
  & .rights-reserved {
    margin-top: 30px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    line-height: 14px;
    color: white;
    border-bottom: 1px solid darkgrey;
  }
  & .intersell {
    width: 100%;
    padding: 15px;
    //border-top: 1px solid darkgrey;
    //background-color: rgb(78, 78, 78);
    & .interlink {
      margin: 0 auto;
      display: block;
      width: 150px;
      color: white;
      & .logo-cont {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50px;
        border: 1px solid white;
        margin: 0 auto;
        margin-bottom: 5px;
        & .logo {
          line-height: 40px;
          text-align: center;
          display: block;
          margin: 0 auto;
          font-size: 20px;
          font-weight: 100;
          text-transform: uppercase;
        }
      }
      & .logo-name {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 15px;
        font-weight: 700;
      }
      & .logo-description {
        display: block;
        text-align: center;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .footer {
    & .adres-list {
      text-align: left;
      & .adres-map-link {
        font-size: 20px;
      }
      & .adres-phones {
        & .phone-link {
          margin: 0 auto 0 0 !important;
        }
        & .phone-link-big {
          //font-size: 24px;
        }
      }
    }
    & .link-map {
      & .link-map-header {
        //padding-left: 8px;
        text-align: left;
      }
      & .link-map-list {
        margin-top: 10px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        & .link-map-item {
          padding: 0px 0px;
          & .link-map-link {
            display: block;
            color: #ffffff;
            width: 100%;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer {
    & .adres-list {
      text-align: left;
      & .adres-map-link {
        font-size: 20px;
      }
      & .adres-phones {
        & .phone-link {
          margin: 0 auto 0 0 !important;
        }
        & .phone-link-big {
          //font-size: 24px;
        }
      }
    }
    & .link-map {
      & .link-map-header {
        padding-left: 0px;
        text-align: left;
      }
      & .link-map-list {
        margin-top: 10px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        & .link-map-item {
          padding: 0px 0px;
          & .link-map-link {
            display: block;
            color: #ffffff;
            width: 100%;
            text-align: left;
            font-size: 16px;
            line-height: 34px;
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
