@import "./vars";

.text-grey {
  color: #e5e5e5;
}

.footer-button {
  display: block;
  width: 170px;
  height: 40px;
  border: 2px solid white;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  line-height: 40px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.footer {
  overflow: hidden;
  text-align: left;
  padding-top: 25px;
  padding-bottom: 60px;
  background: linear-gradient(115deg, #353535 0%, #2f2f2f 100%);
  position: relative;

  & .gaz-mash {
    position: absolute;
    display: block;
    z-index: 0;
    left: 0;
    right: 0;
    top: 40%;
    transform: rotate(-90deg);
    width: auto;
    height: 200px;
    opacity: 0.05;
    background: url("/static/images/bg-gaz-mash.png") 50% 50% no-repeat;
    background-size: contain;
  }
  & .footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;

    & .footer-logo {
      display: block;
      width: auto;
      height: 30px;
      margin-bottom: 30px;
    }
  }
  & .contacts-header {
    font-family: $molot-font;
    display: block;
    width: 100%;
    color: $l-grey;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  & .link-1 {
    display: block;

    color: white;
  }
  & .adres-list {
    padding-left: 0;
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
    & li {
      padding: 0;
      //margin-bottom: 10px;
    }
    & .adres-map-link {
      width: 100%;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      line-height: 26px;
      // font-family: 'Noto Sans';
      font-weight: 300;
      letter-spacing: 0.5px;
    }
    & .adres-phones {
      width: 100%;
      display: block;
      & .phone-link {
        font-family: $molot-font;
        display: block;
        margin: 0 auto;
        font-weight: 400;
        font-size: 23px;
        letter-spacing: 1px;
        line-height: 30px;
        color: #ffffff;
      }
      & .phone-link-big {
        //font-size: 26px;
        //font-weight: 700;
      }
    }
    & .adres-email {
      color: #ffffff;
      width: 100%;
      font-style: italic;
      font-size: 16px;
    }
  }
  & .link-map {
    & .link-map-header {
      font-family: $molot-font;
      display: block;
      width: 100%;
      color: $l-grey;
      letter-spacing: 1px;
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
    }
    & .link-map-list {
      margin-top: 10px;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      & .link-map-item {
        padding: 0;
        margin-bottom: 5px;
        & .link-map-link {
          display: block;
          color: #ffffff;
          width: 100%;
          font-size: 14px;
          font-weight: 400;
          line-height: 22px;
        }
      }
    }
  }
  & .rights-reserved {
    display: none;
  }
  & .intersell {
    width: 100%;
    margin-top: 15px;
    position: absolute;
    height: 50px;
    width: 180px;
    bottom: 0;
    right: -10px;
    & .interlink {
      position: relative;
      z-index: 10;
      margin: 0 0 0 auto;
      bottom: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 180px;
      height: 50px;
      color: white;
      background-color: white;
      transform: skewX(-10deg);
      &:hover {
        & .logo-cont {
          width: 50px;
          left: -50px;
          opacity: 1;
          & .logo {
            opacity: 1;
          }
        }
      }
      & .logo-cont {
        background-color: #2759d9;
        display: block;
        position: absolute;
        opacity: 1;
        z-index: 0;
        left: -10px;
        width: 10px;
        height: 50px;
        border-radius: 3px;
        //border: 1px solid white;
        margin: 0 auto;
        margin-bottom: 5px;
        transition: all 0.3s ease-out;
        & .logo {
          opacity: 0;
          transform: skewX(10deg);
          font-family: $molot-font;
          position: relative;
          line-height: 50px;
          text-align: center;
          display: block;
          //margin: 0 auto;
          font-size: 15px;
          transition: all 0.5s ease-in 0.2s;
          &::after {
            display: block;
            position: absolute;
            content: "";
            top: 50%;
            left: 50%;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            transform: translate(-50%, -50%);
            border: 2px solid white;
          }
        }
      }
      & .text-container {
        z-index: 1;
        transform: skewX(10deg);
        display: block;
        position: relative;
        width: auto;
        height: auto;
        padding-top: 12px;
        //margin-left: 15px;
        & .logo-description {
          color: #353535;
          display: block;
          text-align: left;
          line-height: 11px;
          font-size: 11px;
          letter-spacing: 0.5px;
        }
        & .logo-name {
          display: block;
          color: #2759d9;
          text-align: left;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 18px;
          font-weight: 900;
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .footer {
    & .adres-list {
      text-align: left;

      & .adres-map-link {
        font-size: 18px;
      }
      & .adres-phones {
        & .phone-link {
          margin: 0 auto 0 0 !important;
        }
        & .phone-link-big {
          //font-size: 24px;
        }
      }
    }
    & .link-map {
      & .link-map-header {
        //padding-left: 8px;
        text-align: left;
      }
      & .link-map-list {
        margin-top: 10px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        & .link-map-item {
          padding: 0px 0px;
          & .link-map-link {
            display: block;
            color: #ffffff;
            width: 100%;
            text-align: left;
            font-size: 16px;
            font-weight: 400;
            line-height: 28px;
          }
        }
      }
    }
    & .rights-reserved {
      display: block;
      position: absolute;
      bottom: -20px;
      left: 0;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 12px;
      height: 40px;
      line-height: 14px;
      color: white;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .footer {
    padding-top: 15px;
    & .white-stripe {
      display: block;
      position: absolute;
      content: "";
      background-color: #fafafa;
      opacity: 1;
      z-index: 0;
      top: 58px;
      right: 0;
      left: 0;
      height: 32px;
    }
    & .dots-right {
      position: absolute;
      width: 460px;
      height: 560px;
      top: 15%;
      right: -5%;
      opacity: 0.05;
      z-index: 0;
      //transform: translateY(-50%);
      background: url("/static/images/dots-big-white.png") 0% 0% no-repeat;
    }
    & .gaz-mash {
      left: 0;
      right: 0;
      top: 25%;
      width: auto;
      height: 350px;
      transform: rotate(0deg);
      background: url("/static/images/bg-gaz-mash.png") 5% 10% no-repeat;
    }
    & .footer-logo-container {
      & .footer-logo {
        display: block;
        width: auto;
        height: 30px;
        margin-bottom: 14px;
      }
    }
    & .contacts-header {
      z-index: 1;
      color: #353535;
      //color: $accent-red;
    }
    & .adres-list {
      text-align: left;
      & .adres-map-link {
        font-size: 18px;
      }
      & .adres-phones {
        & .phone-link {
          margin: 0 auto 0 0 !important;
        }
        & .phone-link-big {
          //font-size: 24px;
        }
      }
    }
    & .link-map {
      & .link-map-header {
        padding-left: 0px;
        text-align: left;
        color: #353535;
        //color: $accent-red;
      }
      & .link-map-list {
        margin-top: 15px;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        & .link-map-item {
          padding: 0px 0px;
          & .link-map-link {
            display: block;
            color: #ffffff;
            width: 100%;
            font-weight: 300;
            text-align: left;
            font-size: 16px;
            line-height: 26px;
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
