@import "./vars";

.forma {
  padding: 0 30px 30px 30px;
  background: linear-gradient(-45deg, #c42f09 0%, #cf6020 100%);
  & .form-group {
    display: flex;
    justify-content: space-around;
    & .colform {
      margin-top: 30px;
      & .form-context {
        & .form-cta-title {
          font-weight: 700;
          font-size: 26px;
          line-height: 36px;
          color: white;
          padding-bottom: 15px;
          border-bottom: 3px solid white;
          margin-bottom: 20px;
        }
        & .form-cta-text {
          font-size: 14px;
          line-height: 24px;
          color: white;
        }
      }
      & .userEmail {
        display: block;
        border-radius: 30px;
        padding-left: 15px;
        width: 100%;
        height: 42px;
        margin-bottom: 20px;
      }
      & .callTime {
        display: block;
        border-radius: 30px;
        padding-left: 15px;
        width: 100%;
        height: 42px;
        margin-bottom: 20px;
      }
      & .form-button {
        display: block;
        border-radius: 50px;
        color: #fff;
        background-color: #cf6020;
        //background-image: linear-gradient(to right, #d4722a 0%, #c62d28 100%);
        border: none;
        padding: 10px 20px;
        margin: 15px auto;
        box-shadow: $box-shadow-up;
        //box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
        transition: all 0.2s;
        &:hover {
          cursor: pointer;
          box-shadow: $box-shadow;
        }
      }
      & .form-cta-text-2 {
        font-size: 12px;
        line-height: 18px;
        color: white;
        text-align: center;
      }
    }
  }
}

// Large devices (desktops, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) {
}
