@import "./vars";

.form-bg {
  margin-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.forma {
  padding: 0 30px 30px 30px;
  margin-bottom: 150px;
  border-radius: 3px;

  //background: linear-gradient(-45deg, #c42f09 0%, #cf6020 100%);
  background: linear-gradient(
    to left,
    rgb(242, 125, 14) 0%,
    rgb(237, 27, 61) 100%
  );
  box-shadow: 10px 50px 30px -35px rgba(237, 27, 61, 0.35),
    -10px 50px 30px -35px rgba(242, 125, 14, 0.35);

  & .form-group {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    & .colform {
      margin-top: 30px;
      & .form-context {
        & .form-cta-title {
          font-family: $molot-font;
          font-weight: 700;
          font-size: 24px;
          line-height: 30px;
          color: white;
          padding-bottom: 15px;
          border-bottom: 3px solid white;
          margin-bottom: 20px;
        }
        & .form-cta-text {
          font-size: 14px;
          line-height: 24px;
          color: white;
        }
      }
      & .userEmail {
        display: block;
        border-radius: 25px;
        padding-left: 15px;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        background-color: #fff;
      }
      & .callTime {
        display: block;
        border-radius: 30px;
        padding-left: 15px;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        color: grey;
        background-color: #fff;
      }
      & .form-button {
        display: block;
        border-radius: 50px;
        color: #fff;
        font-family: $molot-font;
        //background-color: #cf6020;
        background-color: $accent-red;
        //background-image: linear-gradient(to right, #d4722a 0%, #c62d28 100%);
        border: none;
        padding: 12px 20px;
        letter-spacing: 1px;
        margin: 15px auto;
        box-shadow: $box-shadow;
        font-size: 15px;

        //box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15);
        transition: all 0.2s ease-in;
        &:hover {
          cursor: pointer;
          box-shadow: $box-shadow-up;
        }
      }
      & .form-cta-text-2 {
        font-size: 12px;
        line-height: 18px;
        color: white;
        text-align: center;
      }
    }
  }
}
// Large devices (desktops, 576px and up)
@media (min-width: 576px) {
  .form-bg {
    & .container {
      & .row {
        //margin: 0;
        // padding-left: 15px;
        // padding-right: 15px;
      }
    }
  }
}

// Large devices (desktops, 768px and up)
@media (min-width: 768px) {
  .forma {
    margin-bottom: 150px;
    padding: 30px;
    & .form-group {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      & .colform {
        margin-top: 30px;
        & .form-context {
          & .form-cta-title {
            font-weight: 700;
            font-size: 33px;
            line-height: 36px;
            color: white;
            padding-bottom: 15px;
            border-bottom: 3px solid white;
            margin-bottom: 20px;
          }
          & .form-cta-text {
            font-size: 14px;
            line-height: 24px;
            color: white;
          }
        }
        & .userEmail {
          display: block;
          padding-left: 15px;
          width: 230px;
          margin: 0 auto 20px;
        }
        & .callTime {
          display: block;
          border-radius: 30px;
          padding-left: 15px;
          width: 230px;
          height: 42px;
          margin: 0 auto 20px;
        }
        & .form-button {
          display: block;
          border-radius: 50px;
          border: none;
          padding: 15px 20px;
          margin: 0 auto 20px;
          box-shadow: $box-shadow-up;
          transition: all 0.2s;
          &:hover {
            cursor: pointer;
            box-shadow: $box-shadow;
          }
        }
        & .form-cta-text-2 {
          font-size: 14px;
          line-height: 20px;
          color: white;
          text-align: center;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .forma {
    overflow: hidden;

    padding: 30px;
    // background: url("/static/images/dots-big-white.png") 100% 50% no-repeat,
    //   linear-gradient(to left, rgb(242, 125, 14) 0%, rgb(237, 27, 61) 100%);
    // position: relative;
    // z-index: 1;
    // & .dots-left {
    //   position: absolute;
    //   right: 30px;
    //   bottom: 0px;
    //   width: 460px;
    //   height: 560px;
    //   z-index: 0;
    //   opacity: 0.3;
    //   background: url("/static/images/dots-big-white.png") 0% 0% no-repeat;
    // }
    & .form-group {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      & .colform {
        margin-top: 15px;
        & .form-context {
          & .form-cta-title {
            font-weight: 900;
            font-size: 30px;
            line-height: 40px;
            color: white;
            padding: 0 30px 15px 30px;
            text-transform: uppercase;
            border-bottom: 3px solid white;
            margin-bottom: 10px;
            //text-align: center;
          }
          & .form-cta-text {
            font-size: 17px;
            line-height: 30px;
            text-align: center;
            color: white;
          }
        }
        & .userEmail {
          display: block;
          padding-left: 15px;
          width: 230px;
          margin: 0 auto 20px;
        }
        & .callTime {
          display: block;
          border-radius: 30px;
          padding-left: 15px;
          width: 230px;
          height: 42px;
          margin: 0 auto 20px;
        }
        & .form-button {
          display: block;
          border-radius: 50px;
          border: none;
          margin: 0 auto 20px;
          box-shadow: $box-shadow-up;
          transition: all 0.2s;
          &:hover {
            cursor: pointer;
            box-shadow: $box-shadow;
          }
        }
        & .form-cta-text-2 {
          font-size: 17px;
          line-height: 20px;
          color: white;
          text-align: center;
        }
      }
    }
  }
}

// Large devices (desktops, 1200px and up)
@media (min-width: 1200px) {
  .forma {
    margin-left: 15px;
    margin-right: 15px;

    padding: 40px 30px 60px 90px;

    & .form-group {
      & .colform {
        margin-top: 30px;
        & .form-context {
          & .form-cta-title {
            font-weight: 700;
            font-size: 42px;
            line-height: 42px;
            text-transform: uppercase;
            color: white;
            padding-bottom: 20px;
            border-bottom: 4px solid white;
            margin-bottom: 20px;
            text-align: left;
          }
          & .form-cta-text {
            font-size: 18px;
            line-height: 30px;
            color: white;
            text-align: left;
            padding-left: 30px;
          }
        }
        & .userEmail {
          display: block;
          padding-left: 15px;
          width: 270px;
          margin: 0 auto 20px;
        }
        & .callTime {
          display: block;
          border-radius: 30px;
          padding-left: 15px;
          width: 270px;
          height: 42px;
          margin: 0 auto 40px;
        }
        & .form-button {
          display: block;
          height: 60px;
          width: 270px;
          border-radius: 50px;
          border: none;
          padding: 10px 20px;
          margin: 0 auto 20px;
          box-shadow: $box-shadow-up;
          transition: all 0.2s;
          &:hover {
            cursor: pointer;
            box-shadow: $box-shadow;
          }
        }
        & .form-cta-text-2 {
          font-size: 14px;
          line-height: 20px;
          color: white;
          text-align: center;
        }
      }
    }
  }
}

@media (min-width: 1400px) {
  .forma {
    margin-left: 15px;
    margin-right: 15px;
  }
}
