@import "./vars";
.generalServices {
  background: #fafafa;
  background-image: url("/static/images/back-13.jpg");
  background-position: 100% 0%;
  background-size: 70%;
  background-repeat: no-repeat;
  & .mycontainer-cards {
    margin-top: 40px;
    & .cards-container {
      padding: 15px;
    }
  }
  & .teh-plate {
    padding-left: 12px;
    padding-right: 6px;
  }

  & .teh-plate:nth-child(even) {
    padding-left: 6px;
    padding-right: 12px;
  }

  & .teh-card {
    display: block;

    //box-shadow: $box-shadow;
    box-shadow: $box-shadow-up;
    border-radius: 0;
    margin: 0 auto;
    margin-bottom: 40px;
    background-color: #ffffff;
    max-width: 142px;
    max-height: 235px;
    transition: all 0.2s;
    &:hover {
      cursor: pointer;
      text-decoration: none;
      box-shadow: $box-shadow;
      & .teh-image-container::after {
        z-index: 3;
        background: none;
        background: linear-gradient(
          to bottom,
          rgba(203, 72, 40, 0.5) 0%,
          rgba(203, 72, 40, 1) 100%
        );
      }
      & .teh-image-container .header-container .teh-header {
        background: transparent;
      }
    }
    & .teh-image-container {
      // max-height: 113px;
      overflow: hidden;
      position: relative;
      transition: all 0.2s;
      background: linear-gradient(
        to right,
        #cfcfcf 0%,
        #d0d0d0 50%,
        #cfcfcf 100%
      );
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        top: 0;
        background-image: linear-gradient(
          to bottom,
          rgba(255, 0, 0, 0) 0%,
          rgba(255, 0, 0, 0) 50%,
          rgba(255, 0, 0, 0) 100%
        );
        transition-duration: 0.2s;
      }
      & .teh-image {
        display: block;
        margin: 0 auto;
        width: auto;
        max-width: 100%;
        height: 155px;
        object-fit: cover;
        // border-radius: 5px;
        transition: all 0.2s;
        position: relative;
        z-index: 2;
      }
      & .header-container {
        z-index: 4;
        position: absolute;
        bottom: 0;
        & .teh-header {
          margin-bottom: 0;
          color: white;
          padding: 8px;
          font-size: 13px;
          line-height: 18px;
          letter-spacing: -0.2px;
          font-weight: 700;
          font-family: $noto-font;
          height: 40%;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0) 0%,
            rgba(0, 0, 0, 0.65) 100%
          );
          &:hover {
            background: transparent;
          }
        }
      }
    }
    & .teh-content {
      z-index: 4;
      padding: 4px 8px;
      display: flex;
      height: 80px;
      justify-content: flex-start;
      flex-direction: column;
      & .teh-desc {
        color: #313131;
        font-family: $noto-font;
        font-size: 9px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.4px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  & .services-more {
    width: 100%;
    text-align: right;
  }
}
// Small devices (landscape phones, 400px and up)
@media (min-width: 400px) {
  .generalServices {
    background-size: 70%;
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .generalServices {
    & .teh-plate {
      margin-top: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
    & .teh-card {
      & .teh-image-container {
        & .teh-image {
        }
        & .header-container {
          & .teh-header {
          }
        }
      }
      & .teh-content {
        & .teh-desc {
        }
      }
    }
    & .services-more {
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .generalServices {
    background-size: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    & .teh-plate {
    }
    & .teh-card {
      max-width: 220px;
      max-height: 366px;
      & .teh-image-container {
        & .teh-image {
          height: 246px;
        }
        & .header-container {
          width: 100%;
          & .teh-header {
            font-size: 18px;
            line-height: 22px;
            padding: 0 20px 10px;
          }
        }
      }
      & .teh-content {
        height: 120px;
        padding: 10px 20px;
        & .teh-desc {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
    & .services-more {
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .generalServices {
    & .cards-container {
      max-width: 1000px;
    }
    & .mycontainer-cards {
      max-width: 1140px;
    }
    & .teh-plate {
    }
    & .teh-card {
      max-width: 200px;
      max-height: 331px;
      & .teh-image-container {
        & .teh-image {
          height: 220px;
        }
        & .header-container {
          & .teh-header {
            padding: 0 16px 10px;
            font-size: 17px;
            line-height: 20px;
            text-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
          }
        }
      }
      & .teh-content {
        padding: 14px 16px;
        height: 111px;
        padding: 10px 16px;
        & .teh-desc {
          font-size: 13px;
          line-height: 19px;
        }
      }
    }
    & .services-more {
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
