@import "./vars";

.mainAdv {
  overflow: hidden;
  background: linear-gradient(to right, #e1e1e1 0%, #b1b1b1 100%);
  display: block;
  min-height: 500px;
  z-index: 0;
  //height: 80vh;
  position: relative;
  & .dots-right {
    position: absolute;
    display: block;
    width: 213px;
    height: 259px;
    top: 0;
    right: 0;
    background: url("/static/images/dots-min.png") 100% -50% no-repeat;
  }
  & .dots-left {
    position: absolute;
    display: block;
    width: 213px;
    height: 259px;
    left: 0;
    bottom: 0;
    //z-index: 10;
    //filter: saturate(0.5);
    background: url("/static/images/dots-min.png") 0% 120% no-repeat;
  }
  & .gaz-mash {
    position: absolute;
    display: block;
    z-index: -1;
    left: 0;
    right: 0;
    top: 30px;
    opacity: 0.3;
    width: auto;
    height: 150px;
    background: url("/static/images/bg-gaz-mash.png") 0% 0% no-repeat;
    background-size: contain;
  }
  & .border-left {
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: -35px;
    width: 50px;
    height: 285px;
    transform: translateY(-50%);
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
  }
  & .border-right {
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    right: -35px;
    width: 50px;
    height: 285px;
    transform: translateY(-50%);
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
  }
  & .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: 500px;
    & .row {
      & .col-12 {
        & .text-container {
          & .main-heading {
            display: block;
            font-family: $molot-font;
            font-size: 28px;
            line-height: 32px;
            color: #353535;
            margin-bottom: 15px;
          }
          & .spartners {
            margin-bottom: 20px;
            & .logos-container {
              width: 100%;
              height: 30px;
              margin: 0;
              background: url("/static/images/liebherr.png") 0 50% no-repeat;
              background-size: contain;
            }
            & .descr-min {
              display: block;
              margin-top: 3px;
              font-size: 10px;
              line-height: 10px;
              font-weight: 300;
            }
          }
          & .main-desc {
            font-size: 16px;
            font-weight: 500;
            color: #353535;
          }
        }
        & .img-container {
          display: flex;
          flex-direction: row-reverse;
          & .img-main {
            border: 5px solid white;
            margin-top: 15px;
            display: block;
            height: 130px;
            width: auto;
          }
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .mainAdv {
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .mainAdv {
    overflow: hidden;

    display: block;
    min-height: 500px;
    z-index: 0;
    //height: 80vh;
    position: relative;
    & .dots-right {
      position: absolute;
      display: block;
      width: 213px;
      height: 259px;
      top: 0;
      right: 0;
      background: url("/static/images/dots-min.png") 100% 0% no-repeat;
    }
    & .dots-left {
      position: absolute;
      display: block;
      width: 213px;
      height: 259px;
      left: 0;
      bottom: 0;
      //z-index: 10;
      //filter: saturate(0.5);
      background: url("/static/images/dots-min.png") 0% 100% no-repeat;
    }
    & .gaz-mash {
      right: 0;
      top: 30px;
      width: auto;
      height: 150px;
      background: url("/static/images/bg-gaz-mash.png") 0% 0% no-repeat;
      background-size: contain;
    }
    & .border-left {
      display: block;
      position: absolute;

      top: 50%;
      left: -35px;
      width: 80px;
      height: 285px;
      transform: translateY(-50%);
      border: 5px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }
    & .border-right {
      display: block;
      position: absolute;

      top: 50%;
      right: -35px;
      width: 80px;
      height: 285px;
      transform: translateY(-50%);
      border: 5px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }
    & .main-container {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100%;
      height: 500px;
      & .row {
        & .col-12 {
          & .text-container {
            & .main-heading {
              display: block;
              font-family: $molot-font;
              font-size: 48px;
              line-height: 48px;

              letter-spacing: 1px;
              margin-bottom: 20px;
              z-index: 10;
            }
            & .spartners {
              margin-bottom: 20px;
              & .logos-container {
                height: 35px;
              }
              & .descr-min {
                margin-top: 5px;
                font-size: 11px;
              }
            }
            & .main-desc {
              font-size: 18px;
            }
          }
          & .img-container {
            display: flex;
            flex-direction: row-reverse;
            & .img-main {
              z-index: -1;
              border: 5px solid white;
              margin-top: 15px;
              display: block;
              height: 230px;
              width: auto;
            }
          }
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mainAdv {
    overflow: hidden;
    background: linear-gradient(
        to right,
        rgba(225, 225, 225, 0.9) 0%,
        rgba(177, 177, 177, 0.9) 100%
      ),
      url("/static/images/bg-promo.jpg") 0% 100% no-repeat;
    background-size: cover;
    display: block;
    min-height: 700px;
    max-height: 900px;
    z-index: 0;
    height: 65vh;
    position: relative;
    & .dots-right {
      width: 460px;
      height: 560px;
      top: 50%;
      right: -200px;
      opacity: 0.3;
      z-index: -1;
      transform: translateY(-50%);
      background: url("/static/images/dots-big-white.png") 0% 0% no-repeat;
    }
    & .dots-left {
      left: 30px;
      bottom: -450px;
      width: 460px;
      height: 560px;
      z-index: -1;
      opacity: 0.3;
      background: url("/static/images/dots-big-white.png") 0% 0% no-repeat;
    }
    & .gaz-mash {
      position: absolute;
      display: block;

      left: 30px;
      right: 0;
      top: 30px;
      width: auto;
      height: 200px;
      background: url("/static/images/bg-gaz-mash.png") 0% 0% no-repeat;
      background-size: contain;
    }
    & .border-left {
      display: block;
      position: absolute;

      top: 50%;
      left: -40px;
      width: 100px;
      height: 400px;
      transform: translateY(-50%);
      border: 15px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }
    & .border-right {
      display: block;
      position: absolute;

      top: 50%;
      right: -40px;
      width: 100px;
      height: 400px;
      transform: translateY(-50%);
      border: 15px solid rgba(255, 255, 255, 0.5);
      border-radius: 3px;
    }
    & .main-container {
      & .row {
        height: 100%;
        & .col-12 {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          & .text-container {
            padding-left: 15px;
            padding-right: 15px;
            & .main-heading {
              font-size: 60px;
              line-height: 64px;
              //text-shadow: 3px 3px 0px #ffffff;
              margin-bottom: 15px;
            }
            & .spartners {
              margin-bottom: 30px;
              & .logos-container {
                height: 50px;
              }
              & .descr-min {
                margin-top: 7px;
                font-size: 14px;
              }
            }
            & .main-desc {
              font-size: 24px;
              color: black;
              font-weight: 700;
              //text-transform: uppercase;
              line-height: 28px;
              padding-top: 20px;
              border-top: 2px solid white;
            }
          }
          & .promo-fon {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 45px;
            right: 15px;
            background: linear-gradient(85deg, #fff 0%, #fafafa 100%);
            transform: skewX(10deg);
          }
          & .img-container {
            position: relative;
            margin-left: 30px;
            height: 100%;
            width: 100%;
            overflow: hidden;
            background-color: grey;
            border-left: 15px solid #fff;
            border-right: 15px solid #fafafa;
            transform: skewX(-10deg);
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 120px;
            & .img-main {
              transform: skewX(10deg);
              border: none;
              margin-top: 0;
              display: block;
              height: 100%;
              width: auto;
            }
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
