@import "./vars";
.navbar {
  z-index: 1;
  min-height: 70px;
  background: #fafafa;
  border-bottom: 15px solid white;
  overflow: hidden;
  &::after {
    display: block;
    position: absolute;
    left: 80px;
    bottom: -100px;
    transform: translateX(-50%) rotateZ(10deg);
    height: 1000px;
    width: 90%;
    content: "";
    background-color: white;
    z-index: -1;
  }
  &::before {
    display: block;
    position: absolute;
    left: 85px;
    bottom: -100px;
    transform: translateX(-50%) rotateZ(10deg);
    height: 1000px;
    width: 100%;
    content: "";
    background-color: #dfdfdf;
    z-index: -1;
  }
  & .navbar-brand {
    & img {
      display: block;

      height: 25px;
      //filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.15));
    }
  }
  & .navbar-collapse {
    //margin-bottom: 10px;
  }
  & .navbar-nav {
    //display: flex;
    //flex-direction: column;
    & .nav-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      &:first-child {
        margin-top: 15px;
      }
      &:last-child {
        margin-top: 15px;
      }
      & .nav-link {
        font-family: $molot-font;
        font-size: 15px;
        font-weight: 300;
        color: #525252;
        position: relative;
        &:hover {
          color: $accent-red;
        }
        &::before {
          position: absolute;
          content: "";
          display: block;
          width: 0%;
          height: 2px;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          background: linear-gradient(
            to right,
            rgba(255, 0, 0, 0) 0%,
            rgb(211, 20, 20) 50%,
            rgba(255, 0, 0, 0) 100%
          );
          transition: all 0.2s;
        }
        &:hover::before {
          width: 100%;
        }
      }
      & .active {
        color: $accent-red !important;
        &:before {
          width: 100%;
        }
      }
      & .nav-calc-link {
        font-family: $molot-font;
        padding: 0;
        display: block;
        font-weight: 700;
        width: 130px;
        height: 30px;
        border-radius: 3px;
        background-image: $new-gradient;
        color: #ffffff;
        font-size: 12px;
        letter-spacing: 0.5px;
        line-height: 30px;
        margin: 0 auto;
        transform: skewX(-10deg);
        box-shadow: 10px 20px 30px -15px rgba(237, 27, 61, 0.55),
          -10px 20px 30px -15px rgba(242, 125, 14, 0.55);
        transition: box-shadow 0.2s;
        &:hover {
          text-decoration: none;
          cursor: pointer;
          color: #ffffff;
          box-shadow: $box-shadow;
          &::before {
            width: 0;
          }
        }
        &:active {
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.45);
        }
        & span {
          display: block;
          transform: skewX(10deg);
        }
      }
    }
  }
  & .navbar-toggler {
    height: 40px;
    border: none;
    & .navbar-toggler-icon-mine {
      background: black;
      width: 21px;
      height: 2px;
      display: block;
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 21px;
        height: 2px;
        background: black;
        left: 0;
        top: 7px;
      }
      &::after {
        top: -7px;
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .navbar {
    &::after {
      display: block;
      position: absolute;
      left: 60px;
      bottom: -100px;
      transform: translateX(-50%) rotateZ(10deg);
      height: 1000px;
      width: 90%;
      content: "";
    }
    &::before {
      display: block;
      position: absolute;
      left: 75px;
      bottom: -100px;
      transform: translateX(-50%) rotateZ(10deg);
      height: 1000px;
      width: 100%;
      content: "";
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .navbar {
    padding-top: 25px;
    padding-bottom: 20px;
    &::after {
      display: block;
      position: absolute;
      left: 60px;
      bottom: -100px;
      transform: translateX(-50%) rotateZ(10deg);
      height: 1000px;
      width: 35%;
      content: "";
    }
    &::before {
      display: block;
      position: absolute;
      left: 75px;
      bottom: -100px;
      transform: translateX(-50%) rotateZ(10deg);
      height: 1000px;
      width: 40%;
      content: "";
    }
    & .navbar-collapse {
      //margin-bottom: 0;
    }
    & .navbar-nav {
      & .nav-item {
        &:first-child {
          margin-top: 0px;
        }
        &:last-child {
          margin-top: 0px;
        }
        & .nav-link {
        }
        & .nav-calc-link {
          margin-left: 10px;
        }
      }
    }
  }
  #navbarNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .navbar {
    padding-top: 25px !important;
    padding-bottom: 20px !important;
    & .navbar-brand {
      & img {
        display: block;
        height: 40px;
        //filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.2));
      }
    }
    & .navbar-nav .nav-item {
      padding: 0 8px;
      & .nav-link {
        font-size: 15px;
      }
      & .nav-calc-link {
        width: 160px;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
        margin-left: 30px;
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  .navbar {
    & .navbar-nav {
      & .nav-item {
        & .nav-link {
          font-size: 19px;
        }
        & .nav-calc-link {
          font-size: 15px;
          position: relative;
          // &::after {
          //   position: absolute;
          //   display: block;
          //   content: "";
          //   top: 4px;
          //   // background-color: rgba(0, 0, 0, 0);
          //   // height: auto;
          //   // width: auto;
          //   left: 4px;
          //   right: 4px;
          //   bottom: 4px;
          //   border-radius: 3px;
          //   border: 1px solid white;
          //   transition: all 0.2s ease-in 0.2s;
          // }
          // &:hover {
          //   &::after {
          //     top: 12px;
          //     left: 25px;
          //     right: 25px;
          //     bottom: 12px;

          //     opacity: 0;
          //   }
          // }
        }
      }
    }
  }
}
