@import "./vars";

.portfolio-links {
  & .container {
    & .row {
      & .col-12 {
        & .header-min-colored {
          display: block;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        & .portfolio-cards-plate {
          margin: 0;
          padding: 0;
          padding-top: 15px;
          display: grid;
          grid-gap: 15px;
          grid-template-columns: 1fr;
          grid-template-rows: auto auto auto;
          & .card-container {
            padding: 0;
            margin: 0;
            & .portfolio-card {
              width: 100%;
              & .img-container {
                display: block;
                // justify-content: center;
                // align-items: center;
                height: auto;
                //width: 100px;
                & .portfolio-img {
                  box-shadow: $box-shadow;
                  display: block;
                  width: 100%;
                  height: auto;
                }
              }
              & .portfolio-link {
                color: #353535;
                margin-top: 15px;
                display: block;
                text-align: center;
                font-size: 16px;
                font-weight: 900;
                letter-spacing: normal;
              }
              & .portfolio-company {
                color: #353535;
                display: block;
                text-align: center;
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;
                margin-bottom: 15px;
              }
            }
          }
        }
      }
    }
  }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .portfolio-links {
    & .container {
      & .row {
        & .col-12 {
          & .header-min-colored {
            display: block;
            margin-top: 20px;
            margin-bottom: 15px;
          }
          & .portfolio-cards-plate {
            margin: 0;
            padding: 0;
            padding-top: 15px;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .portfolio-links {
    & .container {
      & .row {
        & .col-12 {
          & .header-min-colored {
            display: block;
            margin-top: 15px;
            margin-bottom: 15px;
          }
          & .portfolio-cards-plate {
            margin: 0;
            padding: 0;
            padding-top: 15px;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            & .card-container {
              & .portfolio-card {
                & .portfolio-link {
                  margin-top: 10px;
                  display: block;
                  text-align: center;
                  font-size: 16px;
                  font-weight: 900;
                  letter-spacing: normal;
                }
                & .portfolio-company {
                  display: block;
                  text-align: center;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 14px;
                  margin-bottom: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .portfolio-links {
    margin-top: 30px;
    padding-bottom: 60px;
    position: relative;
    &::before {
      position: absolute;
      display: block;
      content: "";
      left: 0;
      top: 30px;
      height: 90px;
      width: 300px;
      background-color: $l-grey;
      clip-path: polygon(0 0, 95% 0, 100% 50%, 95% 100%, 0 100%);
    }
    &::after {
      position: absolute;
      display: block;
      z-index: -1;
      content: "";
      right: 0;
      bottom: 85px;
      height: 90px;
      width: 300px;
      background-color: $l-grey;
      clip-path: polygon(5% 0, 100% 0, 100% 100%, 6% 100%, 0 50%);
    }
    & .bg-container {
      position: relative;
      background-color: white;
      border: 1px solid #dcdcdc;
      z-index: 0;
      // &::before {
      //   position: absolute;
      //   display: block;
      //   content: "";
      //   right: 0;
      //   top: 0;
      //   bottom: 0;
      //   height: 100%;
      //   width: 400px;
      //   background-color: $accent-red;
      //   clip-path: polygon(5% 0, 100% 0, 100% 100%, 5% 100%, 0 68%);
      // }
      // &::after {
      //   position: absolute;
      //   display: block;
      //   content: "";
      //   z-index: -1;
      //   left: 25%;
      //   top: 0;
      //   bottom: 0;
      //   height: 100%;
      //   width: 650px;
      //   background-color: $orange-color;
      //   clip-path: polygon(3% 0, 100% 0, 100% 100%, 3% 100%, 0 75%);
      // }
    }
    & .container {
      & .row {
        & .col-12 {
          & .header-min-colored {
            display: block;
            margin-top: 0px;
            margin-bottom: 25px;
          }
          & .portfolio-cards-plate {
            margin: 0;
            padding: 0;
            padding-top: 15px;
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            & .card-container {
              padding: 0;
              margin: 0;
              & .portfolio-card {
                width: 100%;
                & .img-container {
                  display: block;
                  // justify-content: center;
                  // align-items: center;
                  height: auto;
                  //width: 100px;
                  & .portfolio-img {
                    box-shadow: $box-shadow;
                    display: block;
                    width: 100%;
                    height: auto;
                    transition: box-shadow 0.2s ease-in;
                  }
                }
                & .portfolio-link {
                  margin-top: 15px;
                  display: block;
                  text-align: center;
                  font-size: 16px;
                  font-weight: 900;
                  letter-spacing: normal;
                }
                & .portfolio-company {
                  display: block;
                  text-align: center;
                  font-size: 14px;
                  font-weight: 500;
                  line-height: 14px;
                  margin-bottom: 25px;
                }
                &:hover {
                  & .img-container {
                    & .portfolio-img {
                      box-shadow: $box-shadow-up;
                      display: block;
                      width: 100%;
                      height: auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
