@import "./vars";

.productsAdv {
  overflow: hidden;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  & .dots-left {
    position: absolute;
    display: block;
    width: 213px;
    height: 259px;
    left: -40%;
    bottom: 0;
    //z-index: 10;
    //filter: saturate(0.5);
    opacity: 0.5;
    background: url("/static/images/dots-min-red.png") 0% 0% no-repeat;
  }
  & .container {
    background-color: #e5e5e5;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    padding-bottom: 30px;
    & .row {
      & .col-12 {
        & .header-min-colored {
          display: block;
          margin-top: 15px;
          margin-bottom: 15px;
        }
        & .text-big {
          padding-bottom: 15px;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 22px;
          font-weight: 700;
          color: #404040;
        }
        & .text {
          padding-bottom: 45px;
        }
        & .p-cards-plate {
          display: grid;
          grid-gap: 15px;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto auto;
          & .p-card {
            & .title {
              font-size: 17px;
              color: #353535;
              font-family: $molot-font;
              & .red {
                color: $accent-red;
              }
            }
            & .img-container {
              width: 100%;
              height: 100%;
              & .p-img {
                width: auto;
                max-width: 100%;
                display: block;
                height: auto;
              }
            }
          }
        }
        & .button-grey-container {
          display: none;
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 400px) {
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .productsAdv {
    padding-top: 30px;
    padding-bottom: 90px;
    position: relative;
    & .dots-left {
      position: absolute;
      display: block;
      width: 213px;
      height: 259px;
      left: 0;
      bottom: 0;
    }
    & .container {
      background-color: #e5e5e5;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      padding-bottom: 30px;
      & .row {
        & .col-12 {
          & .header-min-colored {
            display: block;
            margin-top: 30px;
            margin-bottom: 15px;
          }

          & .p-cards-plate {
            display: grid;
            grid-gap: 30px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto;
            & .p-card {
              & .title {
                font-size: 21px;
                color: #353535;
                font-family: $molot-font;
                & .red {
                  color: $accent-red;
                }
              }
              & .img-container {
                width: 100%;
                // display: flex;
                // justify-content: center;
                // align-items: center;

                height: 100%;
                & .p-img {
                  width: auto;
                  max-width: 100%;
                  display: block;
                  height: auto;
                  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .productsAdv {
    padding-top: 30px;
    padding-bottom: 90px;
    position: relative;
    & .dots-left {
      position: absolute;
      display: block;
      width: 213px;
      height: 259px;
      left: 0;
      bottom: 0;
    }
    & .container {
      background-color: #e5e5e5;
      border: 1px solid #dcdcdc;
      border-radius: 3px;
      padding-bottom: 30px;
      & .row {
        & .col-12 {
          & .header-min-colored {
            display: block;
            margin-top: 30px;
            margin-bottom: 15px;
          }

          & .p-cards-plate {
            margin-top: 30px;
          }
          & .button-grey-container {
            display: block;
            margin-top: 0px;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .productsAdv {
    // background-color: $l-grey;
    // background: url("/static/images/bg-products.jpg") 50% 50% no-repeat;
    // background-size: cover;
    // padding-top: 0px;
    padding-bottom: 60px;
    // position: relative;
    // height: auto;
    & .dots-left {
      display: none;
      // position: absolute;
      // display: block;
      // width: 460px;
      // height: 560px;
      // left: -10%;
      // bottom: -200px;
      // opacity: 0.1;
      // background: url("/static/images/dots-big-red.png") 0% 0% no-repeat;
    }
    & .dots-right {
      // position: absolute;
      // display: block;
      // width: 460px;
      // height: 560px;
      // right: -15%;
      // bottom: 15%;
      // opacity: 0.1;
      // background: url("/static/images/dots-big-red.png") 0% 0% no-repeat;
    }
    & .container {
      padding-top: 30px;
      background-color: rgba(0, 0, 0, 0);
      border: none;
      border-radius: 0;
      padding-bottom: 30px;
      position: relative;
      // &::after {
      //   content: "";
      //   z-index: -1;
      //   position: absolute;
      //   display: block;
      //   background-color: #e5e5e5;
      //   border: 1px solid #dcdcdc;
      //   border-radius: 3px;
      //   width: 565px;
      //   height: 700px;
      //   top: 0;
      //   left: -30px;
      //   clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
      // }
      & .row {
        & .col-12 {
          & .header-min-colored {
            display: block;
            margin-top: 30px;
            margin-bottom: 15px;
            position: relative;
          }
          & .text-big {
            font-size: 17px;
            line-height: 24px;
            font-weight: 900;
          }
          & .p-cards-plate {
            margin-top: 30px;
            & .p-card {
              & .title {
                font-size: 21px;
                color: #353535;
                font-family: $molot-font;
                & .red {
                  color: $accent-red;
                }
              }
              & .img-container {
                & .p-img {
                  width: auto;
                  max-width: 100%;
                  display: block;
                  height: auto;
                  box-shadow: $box-shadow;
                  transition: box-shadow 0.2s ease-in;
                }
              }
              &:hover {
                & .img-container {
                  & .p-img {
                    box-shadow: $box-shadow-up;
                  }
                }
              }
            }
          }
          & .button-grey-container {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
