@import "./vars";

.product-unit-wrapper {
  position: relative;
  padding-bottom: 80px;
  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 30%;
    height: 99%;
    bottom: 0;
    right: 0;
    border-top: 2px solid #d44625;
    //background-color: #ecebeb;
    border-left: 3px solid #d44625;
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
