@import "./vars";

.projects {
  position: relative;
  padding-bottom: 50px;
  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    display: block;
    height: 60%;
    width: 71%;
    bottom: 0;
    left: 0;
    background-color: #ecebeb;
    border-top: 4px solid #cb4828;
    border-right: 4px solid #cb4828;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
