@import "./vars";
.redzone {
  //background: linear-gradient(-265deg, #c81e23 0%, #e46849 100%);
  background-image: $red-gradient;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0px;
  & .redzone-text {
    color: #fff;
    font-family: $noto-font;
    font-size: 14px;
    line-height: 26px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .redzone {
    .redzone-text {
      color: #fff;
      font-family: $noto-font;
      font-size: 16px;
      line-height: 30px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .redzone {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    .redzone-text {
      color: #fff;
      font-family: $noto-font;
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
