@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./libs";
@import "./fonts";
@import "./vars";

body {
  font-family: $noto-font;
  background: #fafafa;
  min-height: 100vh;
}
p {
  margin: 0;
  padding: 0;
}
nav {
  text-align: center;
  padding-top: 5px;
}
ul {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  padding: 4px 16px;
}
li {
  display: flex;
  padding: 6px 8px;
}
a {
  color: #c94f28;
  text-decoration: none;
  font-size: 13px;
  //text-align: right;
  &:hover {
    text-decoration: none;
    color: #cb4828;
  }
}
b {
  font-weight: 700;
}
.home {
  display: flex;
  flex-direction: column;
}
.header-common {
  font-family: $noto-font;
  margin-top: 35px;
  color: #313131;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  font-style: bold;
  letter-spacing: -0.65px;
  margin-bottom: 0;
}
.header-red {
  font-family: $noto-font;
  //color: #b54724;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 20px;
  letter-spacing: -0.45px;
}
.subheading-common {
  display: block;
  font-family: $noto-font;
  color: #313131;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
  //letter-spacing: -0.35px;
  margin-top: 40px;
}
.subheading-common-2 {
  display: block;
  font-family: $noto-font;
  color: #313131;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
}
.subheading-common-3 {
  display: block;
  font-family: $noto-font;
  color: #313131;
  //color: #cb4828;
  font-size: 15px;
  letter-spacing: -0.3px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.subheading-red-bottom {
  color: #cb4828 !important;
  display: block;
  margin-bottom: 30px;
  font-weight: 700;
}
.subheading-red-top {
  color: #cb4828;
  display: block;
  margin-top: 50px;
  font-weight: 700;
}
.header-razdel {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.6px;
}
.text-common {
  display: block;
  font-family: $noto-font;
  color: #3b3b3b;
  // font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;
  margin-bottom: 0px;
}
.text-min {
  display: block;
  font-family: $noto-font;
  color: #3b3b3b;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0px;
}
.text-bold {
  display: block;
  font-family: $noto-font;
  color: #313131;
  //font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  // letter-spacing: -0.4px;
}
.mycontainer {
  width: 100%;
}
.text-italic {
  font-family: $noto-font;
  font-style: italic;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .mycontainer {
    max-width: 540px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .header-common {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 250px;
      height: 2px;
      background-color: #cb4828;
      left: -260px;
      top: 16px;
      border-radius: 5px;
    }
  }
  .text-common {
    line-height: 26px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header-common {
    font-size: 20px;
    line-height: 30px;
    //margin-bottom: 30px;
  }
  .subheading-common {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .mycontainer {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-razdel {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.6px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header-common {
    font-size: 36px;
    line-height: 44px;
    &::after {
      top: 23px;
    }
  }
  .tm-cont {
    display: flex;
    align-items: center;

    //justify-content: center;
  }
  .subheading-common {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 36px;
  }
  .subheading-common-2 {
    display: block;
    font-family: $noto-font;
    color: #313131;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .subheading-common-3 {
    display: block;
    font-family: $noto-font;
    color: #313131;
    font-size: 18px;
    letter-spacing: -0.6px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mycontainer {
    max-width: 960px;
  }
  .text-common {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }
  .text-min {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-top: 15px;
  }
  .text-bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
  }
  a {
    //font-size: 18px;
    //font-weight: 700;
    //text-align: right;
    //letter-spacing: 0.5px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mycontainer {
    max-width: 1140px;
  }
  .header-common {
    font-size: 36px;
    // line-height: 44px;
  }
  .subheading-common {
    font-size: 18px;
    line-height: 36px;
    // margin-bottom: 50px;
  }
  .mycontainer {
    // max-width: 960px;
  }
  .text-common {
    font-size: 18px;
    // font-weight: 400;
    line-height: 36px;
  }
  .text-bold {
    // font-size: 16px;
    // font-weight: 700;
    // line-height: 26px;
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  .header-common {
    &:after {
      width: 350px;
      left: -400px;
    }
  }
}
