@import "../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "./libs";
@import "./fonts";
@import "./vars";
// @import '../node_modules/react-image-lightbox/style.css';

body {
  font-family: $noto-font;
  background: #fafafa;
  min-height: 100vh;
}
p {
  margin: 0;
  padding: 0;
}
nav {
  text-align: center;
  padding-top: 5px;
}
ul {
  display: flex;
  justify-content: space-between;
}
nav > ul {
  padding: 4px 16px;
}
li {
  display: flex;
  padding: 6px 8px;
}
a {
  color: #c94f28;
  text-decoration: none;
  font-size: 13px;
  //text-align: right;
  &:hover {
    text-decoration: none;
    color: #cb4828;
  }
}
b {
  font-weight: 700;
}
.home {
  display: flex;
  flex-direction: column;
}
.header-common {
  font-family: $noto-font;
  color: #313131;
  display: block;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  font-style: bold;
  letter-spacing: -0.65px;
  padding-left: 15px;
  margin-top: 35px;
  margin-bottom: 0;
}
.header-red {
  font-family: $noto-font;
  display: block;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 20px;
  letter-spacing: -0.15px;
}
.header-razdel {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.6px;
  // width: 80%;
  // line-height: 38px;
  // font-size: 30px;
  // margin-bottom: 30px;
}

/////////////////////

.header-min-colored {
  font-family: $noto-font;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.2px;
  color: $accent-red;
  & .dark-color {
    color: #353535;
    font-weight: 700;
  }
}
.subheading-common {
  display: block;
  font-family: $noto-font;
  color: #313131;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
  //letter-spacing: -0.35px;
  margin-top: 40px;
}
.subheading-common-2 {
  display: block;
  color: grey;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 30px;
  //font-style: italic;
  font-weight: 700;
  padding-left: 15px;
  padding-right: 15px;
}
.subheading-common-3 {
  display: block;
  color: #313131;
  //color: #cb4828;
  font-size: 15px;
  letter-spacing: -0.3px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
.subheading-red-bottom {
  color: $accent-red !important;
  display: block;
  margin-bottom: 30px;
  padding-left: 15px;
  font-weight: 700;
}
.subheading-red-top {
  /////////////////////////////
  color: $accent-red;
  display: block;
  margin-top: 50px;
  font-weight: 700;
}
.text-common {
  display: block;
  font-family: $noto-font;
  color: #3b3b3b;
  // font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;
  margin-bottom: 0px;
}
.text-min {
  display: block;
  font-family: $noto-font;
  color: #3b3b3b;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 0px;
}
.text-bold {
  display: block;
  font-family: $noto-font;
  color: #313131;
  //font-family: "Noto Sans";
  font-size: 15px;
  font-weight: 900;
  line-height: 22px;
  // letter-spacing: -0.4px;
}
.text-italic {
  font-family: $noto-font;
  font-style: italic;
  font-size: 15px;
  line-height: 17px;
}
.text-black {
  color: #353535;
}
.section-plate {
  margin: 15px auto 15px;
  //background-color: #fff;
  //box-shadow: $box-shadow;
  padding: 0 15px;
}
.breadcrumbs {
  margin-left: 15px;

  & .crambs {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding-right: 3px;
    color: #3f3f3f;
    letter-spacing: 0.5px;
  }
  & .cramb-main {
    // color: grey;
    // padding: 0;
    // margin: 0;
    color: $accent-red;
  }
}
.mycontainer {
  width: 100%;
}
.color-section {
  background: $yel-red-gradient;
}
.white-section {
  background-color: #fff;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .mycontainer {
    max-width: 540px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .header-razdel {
    width: 90%;
  }
  .header-common {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      width: 250px;
      height: 2px;
      background-color: $accent-red;
      left: -260px;
      top: 16px;
      border-radius: 5px;
    }
  }
  .text-common {
    line-height: 26px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .header-common {
    font-size: 20px;
    line-height: 30px;
    //margin-bottom: 30px;
  }
  .header-red {
    font-size: 26px;
  }
  .header-min-colored {
    font-size: 22px;
    letter-spacing: -0.2px;
  }
  .subheading-common {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .mycontainer {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .header-razdel {
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.6px;
  }
  // .section-plate {
  //   margin: 15px auto;
  //   padding: 15px;
  // }
  .breadcrumbs {
    margin-left: 15px;
    & .crambs {
      font-size: 14px;
      //font-weight: 700;
      //letter-spacing: 2px;
      text-transform: uppercase;
      padding-right: 3px;
      //color: darkgrey;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .header-common {
    font-size: 36px;
    line-height: 44px;
    &::after {
      top: 23px;
    }
  }
  .tm-cont {
    display: flex;
    align-items: center;

    //justify-content: center;
  }
  .header-red {
    font-size: 30px;
    line-height: 32px;
  }
  .header-min-colored {
    font-size: 26px;
    letter-spacing: -0.2px;
  }
  .subheading-common {
    margin-bottom: 0px;
    font-size: 18px;
    line-height: 36px;
  }
  .subheading-common-2 {
    display: block;
    font-family: $noto-font;
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .subheading-common-3 {
    display: block;
    font-family: $noto-font;
    color: #313131;
    font-size: 18px;
    letter-spacing: -0.6px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .mycontainer {
    max-width: 960px;
  }
  .text-common {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
  }
  .text-italic {
    font-family: $noto-font;
    font-style: italic;
    font-size: 18px;
    line-height: 17px;
  }
  .text-min {
    font-size: 18px;
    //font-weight: 500;
    line-height: 28px;
  }
  .text-bold {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .mycontainer {
    max-width: 1140px;
  }
  .header-common {
    font-size: 36px;
    // line-height: 44px;
  }
  .header-razdel {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.6px;
  }
  .header-red {
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: -0.2px;
  }
  .header-min-colored {
    font-size: 30px;
    letter-spacing: -0.2px;
  }
  .subheading-common {
    font-size: 18px;
    line-height: 36px;
    // margin-bottom: 50px;
  }
  .text-min {
    display: block;
    font-family: $noto-font;
    color: #3b3b3b;
    font-size: 21px;
    font-weight: 500;
    line-height: 33px;
    margin-bottom: 0px;
  }
  .text-italic {
    font-family: $noto-font;
    font-style: italic;
    font-size: 21px;
    line-height: 22px;
  }
  .text-common {
    font-size: 18px;
    // font-weight: 400;
    line-height: 36px;
  }
  .text-bold {
    font-size: 21px;
    // font-weight: 700;
    line-height: 33px;
  }
  .breadcrumbs {
    margin-left: 15px;

    & .crambs {
      font-size: 18px;
      font-weight: 500;
      text-transform: uppercase;
      padding-right: 3px;
      color: #3f3f3f;
      letter-spacing: 0.2px;
    }
    & .cramb-main {
      // color: grey;
      // padding: 0;
      // margin: 0;
      color: $accent-red;
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
  .header-common {
    &:after {
      width: 350px;
      left: -400px;
    }
  }
}

@keyframes closeWindow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.ril__outer {
  background-color: rgba(0, 0, 0, 0.85);
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril__outerClosing {
  opacity: 0;
}

.ril__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ril__image,
.ril__imagePrev,
.ril__imageNext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: none;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril__imageDiscourager {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ril__navButtons {
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: 34px;
  padding: 40px 30px;
  margin: auto;
  cursor: pointer;
  opacity: 0.7;
}
.ril__navButtons:hover {
  opacity: 1;
}
.ril__navButtons:active {
  opacity: 0.7;
}

.ril__navButtonPrev {
  left: 0;
  background: rgba(0, 0, 0, 0.2)
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDE5LDMgLTIsLTIgLTE2LDE2IDE2LDE2IDEsLTEgLTE1LC0xNSAxNSwtMTUgeiIgZmlsbD0iI0ZGRiIvPjwvc3ZnPg==")
    no-repeat center;
}

.ril__navButtonNext {
  right: 0;
  background: rgba(0, 0, 0, 0.2)
    url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjM0Ij48cGF0aCBkPSJtIDEsMyAyLC0yIDE2LDE2IC0xNiwxNiAtMSwtMSAxNSwtMTUgLTE1LC0xNSB6IiBmaWxsPSIjRkZGIi8+PC9zdmc+")
    no-repeat center;
}

.ril__downloadBlocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
  background-size: cover;
}

.ril__caption,
.ril__toolbar {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.ril__caption {
  bottom: 0;
  max-height: 150px;
  overflow: auto;
}

.ril__captionContent {
  padding: 10px 20px;
  color: #fff;
}

.ril__toolbar {
  top: 0;
  height: 50px;
}

.ril__toolbarSide {
  height: 50px;
  margin: 0;
}

.ril__toolbarLeftSide {
  padding-left: 20px;
  padding-right: 0;
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ril__toolbarRightSide {
  padding-left: 0;
  padding-right: 20px;
  flex: 0 0 auto;
}

.ril__toolbarItem {
  display: inline-block;
  line-height: 50px;
  padding: 0;
  color: #fff;
  font-size: 120%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ril__toolbarItemChild {
  vertical-align: middle;
}

.ril__builtinButton {
  width: 40px;
  height: 35px;
  cursor: pointer;
  border: none;
  opacity: 0.7;
}
.ril__builtinButton:hover {
  opacity: 1;
}
.ril__builtinButton:active {
  outline: none;
}

.ril__builtinButtonDisabled {
  cursor: default;
  opacity: 0.5;
}
.ril__builtinButtonDisabled:hover {
  opacity: 0.5;
}

.ril__closeButton {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgd2lkdGg9IjIwIiBoZWlnaHQ9IjIwIj48cGF0aCBkPSJtIDEsMyAxLjI1LC0xLjI1IDcuNSw3LjUgNy41LC03LjUgMS4yNSwxLjI1IC03LjUsNy41IDcuNSw3LjUgLTEuMjUsMS4yNSAtNy41LC03LjUgLTcuNSw3LjUgLTEuMjUsLTEuMjUgNy41LC03LjUgLTcuNSwtNy41IHoiIGZpbGw9IiNGRkYiLz48L3N2Zz4=")
    no-repeat center;
}

.ril__zoomInButton {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PHBhdGggZD0iTTEyIDV2NiIvPjwvZz48Y2lyY2xlIGN4PSIxMiIgY3k9IjgiIHI9IjciIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLXdpZHRoPSIyIi8+PC9zdmc+")
    no-repeat center;
}

.ril__zoomOutButton {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCI+PGcgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PHBhdGggZD0iTTEgMTlsNi02Ii8+PHBhdGggZD0iTTkgOGg2Ii8+PC9nPjxjaXJjbGUgY3g9IjEyIiBjeT0iOCIgcj0iNyIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZmZmIiBzdHJva2Utd2lkdGg9IjIiLz48L3N2Zz4=")
    no-repeat center;
}

.ril__outerAnimating {
  animation-name: closeWindow;
}

@keyframes pointFade {
  0%,
  19.999%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

.ril__loadingCircle {
  width: 60px;
  height: 60px;
  position: relative;
}

.ril__loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.ril__loadingCirclePoint::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 11%;
  height: 30%;
  background-color: #fff;
  border-radius: 30%;
  animation: pointFade 800ms infinite ease-in-out both;
}
.ril__loadingCirclePoint:nth-of-type(1) {
  transform: rotate(0deg);
}
.ril__loadingCirclePoint:nth-of-type(7) {
  transform: rotate(180deg);
}
.ril__loadingCirclePoint:nth-of-type(1)::before,
.ril__loadingCirclePoint:nth-of-type(7)::before {
  animation-delay: -800ms;
}
.ril__loadingCirclePoint:nth-of-type(2) {
  transform: rotate(30deg);
}
.ril__loadingCirclePoint:nth-of-type(8) {
  transform: rotate(210deg);
}
.ril__loadingCirclePoint:nth-of-type(2)::before,
.ril__loadingCirclePoint:nth-of-type(8)::before {
  animation-delay: -666ms;
}
.ril__loadingCirclePoint:nth-of-type(3) {
  transform: rotate(60deg);
}
.ril__loadingCirclePoint:nth-of-type(9) {
  transform: rotate(240deg);
}
.ril__loadingCirclePoint:nth-of-type(3)::before,
.ril__loadingCirclePoint:nth-of-type(9)::before {
  animation-delay: -533ms;
}
.ril__loadingCirclePoint:nth-of-type(4) {
  transform: rotate(90deg);
}
.ril__loadingCirclePoint:nth-of-type(10) {
  transform: rotate(270deg);
}
.ril__loadingCirclePoint:nth-of-type(4)::before,
.ril__loadingCirclePoint:nth-of-type(10)::before {
  animation-delay: -400ms;
}
.ril__loadingCirclePoint:nth-of-type(5) {
  transform: rotate(120deg);
}
.ril__loadingCirclePoint:nth-of-type(11) {
  transform: rotate(300deg);
}
.ril__loadingCirclePoint:nth-of-type(5)::before,
.ril__loadingCirclePoint:nth-of-type(11)::before {
  animation-delay: -266ms;
}
.ril__loadingCirclePoint:nth-of-type(6) {
  transform: rotate(150deg);
}
.ril__loadingCirclePoint:nth-of-type(12) {
  transform: rotate(330deg);
}
.ril__loadingCirclePoint:nth-of-type(6)::before,
.ril__loadingCirclePoint:nth-of-type(12)::before {
  animation-delay: -133ms;
}
.ril__loadingCirclePoint:nth-of-type(7) {
  transform: rotate(180deg);
}
.ril__loadingCirclePoint:nth-of-type(13) {
  transform: rotate(360deg);
}
.ril__loadingCirclePoint:nth-of-type(7)::before,
.ril__loadingCirclePoint:nth-of-type(13)::before {
  animation-delay: 0ms;
}

.ril__loadingContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ril__imagePrev .ril__loadingContainer,
.ril__imageNext .ril__loadingContainer {
  display: none;
}

.ril__errorContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.ril__imagePrev .ril__errorContainer,
.ril__imageNext .ril__errorContainer {
  display: none;
}

.ril__loadingContainer__icon {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
