@import "~video-react/styles/scss/video-react";

.myvideo {
  padding: 0;
}

.text-bold {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  //letter-spacing: -0.5px;
}
