@import "../node_modules/video-react/styles/scss/video-react";
.myVideo {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  height: 300px;
}
.video-react-poster {
  top: 0;
}

.myVideoKompleks-2 {
  //margin-left: 15px;
  //margin-right: 15px;
  width: auto;
  overflow: hidden;
}
// .text-bolddd {
//   padding-bottom: 10px;
//   font-size: 18px;
//   font-weight: 300;
//   text-transform: uppercase;
//   //letter-spacing: -0.5px;
// }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .myVideo {
    height: 400px;
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .myVideo {
    height: 400px;
  }
}
