@import "../vars";

.bg-color {
  //margin-top: 15px;
  //background-color: rgb(243, 243, 243);
  padding-top: 15px;
  padding-bottom: 15px;
  //box-shadow: 0px 65px 100px -55px rgba(0, 0, 0, 0.1);
  //z-index: 1;
  & .subheading-red-top {
    margin-top: 10px;
  }
}

.news {
  padding-bottom: 80px;
  position: relative;
  background-color: #fafafa;
  z-index: 0;
  // &:after {
  //   position: absolute;
  //   z-index: -1;
  //   display: block;
  //   content: "";
  //   width: 33%;
  //   min-width: 90px;
  //   height: 100%;
  //   top: 0;
  //   bottom: 0;
  //   left: 0%;
  //   background-color: rgb(255, 255, 255);
  //   clip-path: polygon(0 0, 100% 0, 90% 50%, 100% 100%, 0 100%);
  // }
  // &:before {
  //   position: absolute;
  //   z-index: -1;
  //   display: block;
  //   content: "";
  //   width: 33%;
  //   min-width: 90px;
  //   height: 100%;
  //   top: 0;
  //   bottom: 0;
  //   right: 0%;

  //   background-color: rgb(242, 242, 242);
  //   clip-path: polygon(10% 0, 100% 0, 100% 100%, 10% 100%, 0 50%);
  // }
  & .razdel-name {
    font-family: $molot-font;
    display: block;
    color: rgb(170, 170, 170);
    //text-shadow: 3px 3px 18px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    padding-left: 16px;
    padding-top: 15px;
    letter-spacing: 4px;
  }
  & .section-plate {
    display: block;
    max-width: 1170px;
    margin: 10px auto;
  }
}
.news-ul {
  flex-direction: column;
  padding-left: 0;
}
.tg {
  margin: 0 -5px;
}
.tg tbody tr th,
.tg tbody tr td {
  border: 1px solid black;
  & span {
    display: block;
    padding: 10px;
  }
}

.news-main-plate {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  //border-bottom: 1px solid lightgrey;
  & .news-button {
    margin: 20px 0 20px auto;
    display: block;
    // justify-content: center;
    // align-items: center;
    //border-radius: 20px;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 33px;
    border-radius: 2px;
    //background-color: #e8e8e8;
    //background: linear-gradient(-90deg, #ffffff 0%, #e8e8e8 100%);
    // box-shadow: 10px 10px 0px rgba(209, 209, 209, 1),
    //   -10px -10px 0 rgba(219, 219, 219, 1);
    box-shadow: 0px 10px 0px -5px rgba(220, 220, 220, 0.9),
      0px 20px 0px -10px rgba(220, 220, 220, 0.6),
      0px 30px 0px -15px rgba(220, 220, 220, 0.3);
    transition: box-shadow 0.15s ease-in;
    border: 3px solid rgb(192, 192, 192);
    &:hover {
      cursor: pointer;
      //box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
      // box-shadow: 0px 20px 0px -7px rgba(209, 209, 209, 1),
      //   0px 38px 0px -15px rgba(219, 219, 219, 1);
      box-shadow: -5px -5px 0px rgba(220, 220, 220, 0.6),
        5px 5px 0px rgba(220, 220, 220, 0.9);
    }
    &:active {
      background-color: lightgrey;
    }
    & .news-button-link {
      font-weight: 700;
      color: grey;
    }
  }
}
.news-details-plate {
  margin-bottom: 20px;
}
.news-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #313131;
  font-family: $noto-font;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.35px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
  & .news-created {
    margin-right: 8px;
  }
  & .news-category {
    margin-right: 8px;
  }
  & .news-updated {
    margin-right: 8px;
  }
}
.news-header {
  color: #313131;
  font-family: $noto-font;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 10px;
  letter-spacing: -0.6px;
}
.news-description {
  display: block;
  margin-bottom: 10px;
}
.news-main-plate {
  & .img-container {
    margin-bottom: 15px;
    & .news-card-img {
      max-width: 100%;
      //border: 5px solid white;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .news-main-plate {
    & .news-details {
      font-size: 14px;
    }
  }
  .news-header {
    font-size: 20px;
    margin-top: 20px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .news-description {
    display: block;
    margin-bottom: 30px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .news-description {
    display: block;
    margin-bottom: 10px;
  }
  .news-main-plate {
    & .news-button {
      margin: 0 auto 0 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .news-header {
    font-size: 24px;
    margin-top: 0px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .news-description {
    display: block;
    margin-bottom: 10px;
  }
  .news-main-plate {
    & .news-button {
      margin: 20px auto 0 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .bg-color {
    & .subheading-red-top {
      margin-top: 10px;
    }
  }
  .news-header {
    font-size: 24px;
    margin-top: 30px;
    line-height: 32px;
    margin-bottom: 20px;
  }
  .news-description {
    display: block;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  .news-main-plate {
    & .news-button {
      margin: 20px auto 0 0;
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
