@import '../vars';

.news-unit-plate {
  padding-bottom: 80px;
  & .big-new {
    & .header-razdel {
    }
    & .subheadding-red-bottom {
      margin-top: 20px;
      font-size: 14px;
      color: $accent-red;
    }
  }
  & .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 30px auto 10px 0;
    max-width: 500px;
  }
  & .new-details {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .news-unit-plate {
    padding-bottom: 80px;

    & .img-container {
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .news-unit-plate {
    padding-bottom: 80px;

    & .img-container {
      float: right;
      margin-left: 25px;
      margin-top: 0;
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
