@import "../vars";

.products {
  position: relative;
  padding-bottom: 80px;
  min-height: 120vh;
  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 100%;
    height: 43%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ecebeb;
    clip-path: polygon(0% 45%, 100% 0%, 100% 100%, 0% 100%);
  }
  & .img-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    & .products-img {
      //display: none;
      width: 90%;
    }
  }

  & .category-header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: grey;
    letter-spacing: 4px;
  }
  & .category-list {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    border-bottom: 1px solid #ed4b13;
    & .category-li {
      cursor: pointer;
      & .category-link {
        display: block;
        width: 100%;
        height: 100%;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        transition: all 0.2s ease-in;
      }
    }
    & .active {
      background-color: rgb(240, 80, 51);
      & .category-link {
        color: white;
      }
    }
  }
  & .product-card-plate {
    //background-color: green;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    & .product-card-container {
      //background-color: red;
      padding: 15px;
      width: 50%;
      & .product-card {
        cursor: pointer;
        position: relative;
        z-index: 0;
        //padding-top: 15px;
        display: block;
        margin: 0 auto;
        background: #fff;
        max-width: 230px;
        width: 100%;
        height: 245px;
        box-shadow: $box-shadow-up;
        transition: box-shadow 0.2s ease-out;
        &:hover {
          box-shadow: $box-shadow;
        }
        & .img-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
          width: 100%;
          overflow: hidden;
          & .product-card-img {
            height: auto;
            width: 100%;
            // object-fit: cover;
            //max-width: 100%;
          }
        }
        & .text-container {
          height: 120px;
          padding: 20px 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & .flex-top {
            & .product-name {
              display: block;
              //margin-left: 15px;
              //padding-left: 10px;
              font-size: 16px;
              line-height: 18px;
              color: #ed4b13;
              margin-bottom: 10px;
              font-weight: 700;
              letter-spacing: -0.6px;
              //border-bottom: 1px solid grey;
            }
          }
          & .flex-bot {
            & .flex-row {
              height: auto;
              //display: flex;
              // justify-content: space-between;
              // flex-direction: column;
              // flex-wrap: wrap;
              //margin-left: 15px;
              //padding-left: 10px;
              //padding-right: 10px;
              & .product-card-motor-title {
                font-size: 10px;
                line-height: 13px;
                color: #313131;
                display: block;
                padding-bottom: 2px;
              }
              & .product-card-motor {
                font-size: 11px;
                font-weight: 700;
                letter-spacing: -0.6px;
                color: grey;
                display: block;
                line-height: 14px;
              }
              & .product-card-power-title {
                line-height: 13px;
                font-size: 10px;
                color: #313131;
                display: block;
                padding-bottom: 2px;
              }
              & .product-card-power {
                font-size: 11px;
                font-weight: 700;
                color: grey;
                letter-spacing: -0.6px;
                display: block;
                line-height: 14px;
                margin-bottom: 10px;
              }
              & .product-card-details {
                font-size: 9px;
                text-align: right;
                display: block;
                color: #ed4b13;
              }
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .products {
    & .product-card-plate {
      & .product-card-container {
        padding: 25px 15px;
        & .product-card {
          cursor: pointer;
          position: relative;
          z-index: 0;
          //padding-top: 15px;
          display: block;
          margin: 0 auto;
          background: #fff;
          width: 100%;
          height: 380px;
          & .img-container {
            height: 160px;
            overflow: hidden;
            & .product-card-img {
              width: 100%;
              height: auto;
            }
          }
          & .text-container {
            height: 190px;
            padding: 35px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .flex-top {
              & .product-name {
                font-size: 22px;
                line-height: 22px;
                color: #ed4b13;
                margin-bottom: 20px;
              }
            }
            & .flex-bot {
              & .flex-row {
                height: auto;
                & .product-card-motor-title {
                  font-size: 14px;
                  line-height: 13px;
                  color: #313131;
                  display: block;
                  margin-bottom: 6px;
                }
                & .product-card-motor {
                  font-size: 14px;
                  color: grey;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 10px;
                  letter-spacing: normal;
                }
                & .product-card-power-title {
                  line-height: 13px;
                  font-size: 14px;
                  color: #313131;
                  display: block;
                  margin-bottom: 6px;
                }
                & .product-card-power {
                  font-size: 16px;
                  font-weight: 700;
                  color: grey;
                  letter-spacing: normal;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 15px;
                }
                & .product-card-details {
                  font-size: 12px;
                  text-align: right;
                  display: block;
                  color: #ed4b13;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .products {
    & .img-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
      & .products-img {
        //display: none;
        width: 90%;
      }
    }

    & .category-header {
      color: #ed4b13;
    }
    & .category-list {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 10px;
      border-bottom: none;
      border-left: 3px solid #313131;
      & .category-li {
        height: 50px;
        cursor: pointer;
        & .category-link {
          padding-left: 10px;
          line-height: 40px;
          font-weight: 700;
          font-size: 16px;
          color: #313131;
          letter-spacing: 1px;
          text-transform: uppercase;
          //text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.15);
          transition: all 0.2s;
        }
        &:active {
          background-color: grey;
        }
        &:hover {
          background-color: rgb(255, 191, 180);
        }
      }
      & .active {
        & .category-link {
          color: white;
        }
      }
    }
    & .product-card-plate {
      padding: 0;
      & .product-card-container {
        padding: 15px;
        width: 50%;
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .products {
    & .category-header {
      font-size: 20px;
      display: block;
      margin-bottom: 20px;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .products {
    & .img-container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
      & .products-img {
        //display: none;
        width: 90%;
      }
    }

    & .category-header {
    }
    & .category-list {
      & .category-li {
        height: 50px;
        cursor: pointer;
        & .category-link {
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 1px;
          text-transform: uppercase;
          //text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
          transition: text-shadow 0.2s;
        }
        &:active {
          background-color: grey;
        }
        &:hover .category-link {
          //text-shadow: $box-shadow;
        }
      }
    }
    & .product-card-plate {
      padding: 0;
      justify-content: flex-start;
      & .product-card-container {
        margin-bottom: 15px;
        padding: 15px;
        width: 25%;
        & .product-card {
          cursor: pointer;
          position: relative;
          z-index: 0;
          //padding-top: 15px;
          display: block;
          margin: 0 auto;
          background: #fff;
          width: 100%;
          height: 430px;
          & .img-container {
            height: 200px;
            & .product-card-img {
              width: auto;
              height: 100%;
            }
          }
          & .text-container {
            height: 240px;
            padding: 35px 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .flex-top {
              & .product-name {
                font-size: 22px;
                line-height: 22px;
                color: #ed4b13;
                margin-bottom: 15px;
              }
            }
            & .flex-bot {
              & .flex-row {
                height: auto;
                & .product-card-motor-title {
                  font-size: 14px;
                  line-height: 13px;
                  color: #313131;
                  display: block;
                  margin-bottom: 6px;
                }
                & .product-card-motor {
                  font-size: 14px;
                  color: grey;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 10px;
                  letter-spacing: normal;
                }
                & .product-card-power-title {
                  line-height: 13px;
                  font-size: 14px;
                  color: #313131;
                  display: block;
                  margin-bottom: 6px;
                }
                & .product-card-power {
                  font-size: 16px;
                  font-weight: 700;
                  color: grey;
                  letter-spacing: normal;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 15px;
                }
                & .product-card-details {
                  font-size: 12px;
                  text-align: right;
                  display: block;
                  color: #ed4b13;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
