@import "../vars";

.enter {
  opacity: 0;
}
.enter-active {
  transition: opacity 200ms ease-in;
  opacity: 1;
}
.enter-done {
  opacity: 1;
}
 .exit {
  opacity: 1;  
}
.exit-active {  
  transition: opacity 200ms ease-in;
  opacity: 0;
}

.products-promo {
  background: linear-gradient(to right, #e1e1e1 0%, #b1b1b1 100%);
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: inset 0 10px 15px -5px rgba(0, 0, 0, 0.2);
  & .text-container {
    & .header-min-colored {
      display: block;
      margin-bottom: 15px;
      color: white;
      font-size: 27px;
      line-height: 32px;
      letter-spacing: 1px;
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
    }
    & .text-min {
      display: block;
      margin-bottom: 15px;
      line-height: 18px;
    }
  }
  & .cards-plate {
    display: none;
  }
}

.products {
  padding-top: 30px;
  & .category-header {
    font-family: $molot-font;
    font-size: 20px;
    color: grey;
    letter-spacing: 4px;
  }
  & .filter {
		& .filter-component {
			//border: 1px solid #7b7b7b;
			//box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
			//border-radius: $border-radius;
			//padding: 25px 15px;
			margin-bottom: 40px;
			margin-top: 15px;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			//background-color: #fff;
			& .filter-group {
				width: 70%;
				& .text-container {
					display: none;
				}
				& .filter-block {
					//margin-left: 90px;
					& .input-block {
						& .input-range {
							position: relative;
							& .input-range__label--min {
								position: absolute;
								font-size: 12px;
								bottom: -35px;
								left: 0;
								color: $sub-color;
								font-weight: 300;
								&::after {
									content: " кВт";
									color: $sub-color;
								}
							}
							& .input-range__label--max {
								position: absolute;
								font-size: 12px;
								bottom: -35px;
								right: 0;
								color: $sub-color;
								font-weight: 300;
								&::after {
									content: " кВт";
									color: $sub-color;
								}
							}
							& .input-range__track--background {
								background-color: #fafafa;
								border: 1px solid #dddddd;
								height: 15px;
								border-radius: 15px;
								//box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
								& .input-range__track--active {
									background: rgb(242, 125, 14);
									opacity: 0.3;
									height: 15px;
								}
								& .input-range__slider-container {
									position: relative;
									& .input-range__label--value {
										position: absolute;
										top: -10px;
										left: 50%;
										transform: translateX(-50%);
										color: $accent-red;
										font-weight: 600;
										text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
										& .input-range__label-container {
										}
									}
									& .input-range__slider {
										position: absolute;
										background: $accent-red;
										box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
										border-radius: 11px;
										height: 35px;
										position: relative;
										top: 0;
										transform: translateY(35%);
									}
								}
							}
						}
					}
				}
			}
			& .button-group {
				width: auto;
				height: 100%;
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
				border-left: 1px solid rgba(0, 0, 0, 0.125);
				& .view-item {
					z-index: 0;
					display: block;
					position: relative;
					width: 22px;
					height: 24px;
					background-color: transparent;
					border: none;
					margin-left: 8px;
					cursor: pointer;
					outline: none;
        }
        & .active {
					background-color: $accent-red;
					border-radius: 3px;
          & .block {
            background-color: #fff !important;
          }        
          & .block-min, .block-max {
            background-color: #fff !important;
          }
        }               
				& .plate-icon {
					position: relative;
					& .block {
						z-index: 1;
						position: absolute;
						display: block;
						background-color: #bababa;
						width: 4px;
						height: 4px;
					}
					& .block-1 {
						top: 2px;
						left: 2px;
					}
					& .block-2 {
						top: 2px;
						left: 50%;
						transform: translateX(-50%);
					}
					& .block-3 {
						top: 2px;
						right: 2px;
					}
					& .block-4 {
						top: 50%;
						transform: translateY(-50%);
						left: 2px;
					}
					& .block-5 {
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
					& .block-6 {
						top: 50%;
						right: 2px;
						transform: translateY(-50%);
					}
					& .block-7 {
						bottom: 2px;
						left: 2px;
					}
					& .block-8 {
						bottom: 2px;
						left: 50%;
						transform: translateX(-50%);
					}
					& .block-9 {
						bottom: 2px;
						right: 2px;
					}
				}
				& .list-icon {
					position: relative;
					& .block-min {
						z-index: 1;
						position: absolute;
						display: block;
						background-color: #bababa;
						width: 4px;
						height: 4px;
					}
					& .block-max {
						z-index: 1;
						position: absolute;
						display: block;
						background-color: #bababa;
						width: 12px;
						height: 4px;
					}
					& .block-1 {
						top: 2px;
						left: 2px;
					}
					& .block-2 {
						top: 50%;
						left: 2px;
						transform: translateY(-50%);
					}
					& .block-3 {
						bottom: 2px;
						left: 2px;
					}
					& .block-4 {
						top: 2px;
						right: 2px;
					}
					& .block-5 {
						top: 50%;
						right: 2px;
						transform: translateY(-50%);
					}
					& .block-6 {
						bottom: 2px;
						right: 2px;
					}

					
				}
			}
		}
	}
  & .category-list {
    padding: 0;
    display: flex;
    flex-direction: row;
		justify-content: flex-start;
		flex-wrap: wrap;
    margin-top: 10px;
    //border-bottom: 1px solid #ed4b13;
    & .category-li {
      border-radius: 30px;
      border: 1px solid grey;
			cursor: pointer;
			margin: 5px;
      & .category-link {
        display: block;
        width: 100%;
        height: 100%;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
				transition: all 0.2s ease-in;
				color: grey;
      }
    }
    & .active {
      background-color: $accent-red;
      border: none;
      & .category-link {
        color: white;
      }
    }
  }
  
  & .plate {
    padding: 0;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    

    & .product-card-container {
      width: 100%;
      height: 100%;
      & .product-card {
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: $border-radius;
        display: block;
        margin: 0 auto;
        background: #fff;
        max-width: 230px;
        width: 100%;
        height: 245px;
        box-shadow: $box-shadow;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.2s ease-out;
        &:hover {
          box-shadow: $box-shadow-up;
        }
        & .img-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
          width: 100%;
          overflow: hidden;
          border-radius: 7px 7px 0 0;
          & .product-card-img {
            height: auto;
            width: 100%;
            // object-fit: cover;
            //max-width: 100%;
          }
        }
        & .text-container {
          height: 120px;
          padding: 15px 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          & .flex-top {
            & .product-name {
              display: block;
              font-family: $molot-font;
              //margin-left: 15px;
              //padding-left: 10px;
              font-size: 17px;
              line-height: 18px;
              color: $accent-red;
              margin-bottom: 10px;
              font-weight: 700;
              letter-spacing: 0.3px;
              //border-bottom: 1px solid grey;
              &::first-word() {
                color: #353535;
              }
            }
          }
          & .flex-bot {
            & .flex-row {
              height: auto;
              //display: flex;
              // justify-content: space-between;
              // flex-direction: column;
              // flex-wrap: wrap;
              //margin-left: 15px;
              //padding-left: 10px;
              //padding-right: 10px;
              & .product-card-motor-title {
                font-size: 10px;
                line-height: 13px;
                color: #313131;
                display: block;
                padding-bottom: 2px;
              }
              & .product-card-motor {
                font-size: 11px;
                font-weight: 700;
                letter-spacing: -0.6px;
                color: grey;
                display: block;
                line-height: 14px;
              }
              & .product-card-power-title {
                line-height: 13px;
                font-size: 10px;
                color: #313131;
                display: block;
                padding-bottom: 2px;
              }
              & .product-card-power {
                font-size: 11px;
                font-weight: 700;
                color: grey;
                letter-spacing: -0.6px;
                display: block;
                line-height: 14px;
                margin-bottom: 10px;
              }
              & .product-card-details {
                font-size: 9px;
                text-align: right;
                display: block;
                color: $accent-red;
              }
            }
          }
        }
      }
    }
  }
  & .list {
		margin-top: 15px;
    padding: 0;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-gap: 15px;
    justify-items: center;
    align-items: center;
    & .product-card-container {
      width: 100%;
			height: 100%;
			padding-left: 15px;
			padding-right: 15px;
      & .product-card {
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 0;
				display: grid;
				grid-template-columns: 2fr 3fr; 
        //background: #fff;
        width: 100%;
				height: auto;
				padding-bottom: 15px;
				//margin-bottom: 10px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        //box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.2s ease-out;
        & .img-container {
          display: flex;
          justify-content: center;
          align-items: flex-start;

          width: 100%;
					overflow: hidden;
          & .product-card-img {
            height: auto;
            width: 100%;
            // object-fit: cover;
            //max-width: 100%;
          }
        }
        & .text-container {
          padding: 0px 15px;
          display: block;
          // flex-direction: column;
          // justify-content: space-between;
          & .flex-top {
            & .product-name {
              display: block;
              font-family: $molot-font;
              //margin-left: 15px;
              //padding-left: 10px;
              font-size: 17px;
              line-height: 18px;
              color: $accent-red;
              margin-bottom: 20px;
              font-weight: 700;
              letter-spacing: 0.3px;
              //border-bottom: 1px solid grey;
              &::first-word() {
                color: #353535;
              }
            }
          }
          & .flex-bot {
            & .flex-row {
              height: auto;
              //display: flex;
              // justify-content: space-between;
              // flex-direction: column;
              // flex-wrap: wrap;
              //margin-left: 15px;
              //padding-left: 10px;
              //padding-right: 10px;
              & .product-card-motor-title {
                font-size: 10px;
                line-height: 13px;
                color: $sub-color;
                display: block;
                padding-bottom: 2px;
              }
              & .product-card-motor {
                font-size: 13px;
                font-weight: 700;
                letter-spacing: -0.6px;
                color: black;
                display: block;
								line-height: 14px;
								margin-bottom: 5px;
              }
              & .product-card-power-title {
                line-height: 13px;
                font-size: 10px;
                color: $sub-color;
                display: block;
                padding-bottom: 2px;
              }
              & .product-card-power {
                font-size: 13px;
                font-weight: 700;
                color: black;
                letter-spacing: -0.6px;
                display: block;
                line-height: 14px;
                //margin-bottom: 10px;
              }
            }
						& .product-card-details {
							font-size: 9px;
							text-align: right;
							display: none;
							color: $accent-red;
						}
          }
        }
      }
    }
  }
}
.products-text {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  & .text-wrapper {
    & .header-min-colored {
      margin: 0;
    }
    & .subheading-common {
      margin: 0;
      color: $accent-red;
    }
    & .text {
      margin-top: 15px;
      margin-bottom: 15px;
      line-height: 20px;
    }
  }
}
.promo-projects-product-page {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  & .section-wrapper {
    & .header-min-colored {
    }
    & .proj-feed {
      display: grid;
      grid-template: 1fr 1fr / 1fr 1fr;
      grid-gap: 15px;
      & .promoproj-card {
        & .proj-img {
          border-radius: $border-radius;
          overflow: hidden;
        }
        & .text-common {
          margin-top: 5px;
          font-size: 13px;
          line-height: 15px;
        }
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .products-promo {
    padding-top: 60px;
    padding-bottom: 60px;
    & .promo-text-container {
      & .header-min-colored {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 30px;
      }
      & .text-min-container {
        & .text-min {
          font-size: 20px;
          line-height: 24px;
          padding-bottom: 15px;
        }
      }
    }
  }
  .products {
    & .plate {
			grid-row-gap: 0;
      & .product-card-container {
        padding: 25px 15px;
        & .product-card {
          cursor: pointer;
          position: relative;
          z-index: 0;
          //padding-top: 15px;
          display: block;
          margin: 0 auto;
          background: #fff;
          width: 100%;
          height: 380px;
          & .img-container {
            height: 160px;
            overflow: hidden;
            & .product-card-img {
              width: 100%;
              height: auto;
            }
          }
          & .text-container {
            height: 190px;
            padding: 35px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .flex-top {
              & .product-name {
                font-size: 25px;
                line-height: 22px;
                margin-bottom: 20px;
              }
            }
            & .flex-bot {
              & .flex-row {
                height: auto;
                & .product-card-motor-title {
                  font-size: 14px;
                  line-height: 13px;
                  color: #313131;
                  display: block;
                  margin-bottom: 6px;
                }
                & .product-card-motor {
                  font-size: 14px;
                  color: grey;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 10px;
                  letter-spacing: normal;
                }
                & .product-card-power-title {
                  line-height: 13px;
                  font-size: 14px;
                  color: #313131;
                  display: block;
                  margin-bottom: 6px;
                }
                & .product-card-power {
                  font-size: 16px;
                  font-weight: 700;
                  color: grey;
                  letter-spacing: normal;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 15px;
                }
                & .product-card-details {
                  font-size: 12px;
                  text-align: right;
                  display: block;
                }
              }
            }
          }
        }
      }
		}
		& .list {
			margin-top: 15px;
			padding: 0;
			padding-bottom: 30px;
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
			grid-gap: 15px;
			justify-items: center;
			align-items: center;
			& .product-card-container {
				width: 100%;
				height: 100%;
				padding-left: 15px;
				padding-right: 15px;
				& .product-card {
					cursor: pointer;
					position: relative;
					z-index: 0;
					display: grid;
					grid-template-columns: 1fr 2fr; 
					width: 100%;
					height: auto;
					padding-bottom: 15px;
					border-bottom: 1px solid rgba(0, 0, 0, 0.125);
					transition: box-shadow 0.2s ease-out;
					&:hover {
						box-shadow: $box-shadow-up;
					}
					& .img-container {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						overflow: hidden;
						& .product-card-img {
							height: auto;
							width: 100%;
						}
					}
					& .text-container {
						padding: 0px 30px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						& .flex-top {
							& .product-name {
								display: block;
								font-family: $molot-font;
								font-size: 24px;
								line-height: 24px;
								color: $accent-red;
								margin-bottom: 0px;
								letter-spacing: 0.3px;
								&::first-word() {
									color: #353535;
								}
							}
						}
						& .flex-bot {
							& .flex-row {
								display: flex;
								justify-content: space-between;
								align-items: center;
								flex-direction: row;
								flex-wrap: nowrap;
								margin-bottom: 5px;
								& .product-card-motor-title {
									font-size: 13px;
									line-height: 14px;
									color: $sub-color;
									display: block;
									padding-bottom: 2px;
								}
								& .product-card-motor {
									font-size: 16px;
									font-weight: 700;
									letter-spacing: -0.6px;
									color: grey;
									display: block;
									line-height: 14px;
								}
								& .product-card-power-title {
									line-height: 14px;
									font-size: 14px;
									color: $sub-color;
									display: block;
									padding-bottom: 2px;
								}
								& .product-card-power {
									font-size: 16px;
									font-weight: 700;
									color: grey;
									letter-spacing: -0.6px;
									display: block;
									line-height: 14px;
									margin-bottom: 10px;
								}
							}
							// & .product-card-details {
							// 	font-size: 12px;
							// 	text-align: right;
							// 	display: block;
							// 	color: $accent-red;
							// }
						}
					}
				}
			}
		}
  }
  .products-text {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    & .text-wrapper {
      & .header-min-colored {
        margin: 0;
      }
      & .subheading-common {
        margin: 0;
        color: $accent-red;
      }
      & .text {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }
  .promo-projects-product-page {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    & .section-wrapper {
      & .header-min-colored {
      }
      & .proj-feed {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-gap: 30px;
        & .promoproj-card {
          & .proj-img {
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
            border-radius: $border-radius;
            overflow: hidden;
          }
          & .text-common {
            margin-top: 10px;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .products-promo {
    padding-bottom: 30px;
    & .promo-text-container {
      & .header-min-colored {
        display: block;
        margin-bottom: 15px;
        color: white;
        font-size: 47px;
        line-height: 56px;
        //letter-spacing: 1px;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
      }
      & .text-min {
      }
    }
    & .cards-plate {
      margin-top: 30px;
      display: grid;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
      grid-gap: 15px;
      & .card-container {
        & .card {
          border-radius: $border-radius;
          border: 3px solid white;
          background: none;
          padding: 15px;
          width: 100%;
          height: 100%;
          & .icon-container {
            margin-bottom: 15px;
            & .icon {
            }
          }
          & .text-container {
            & .card-title {
              font-size: 17px;
              color: white;
              letter-spacing: 1px;
              display: block;
              text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
              font-family: $molot-font, serif;
              margin-bottom: 5px;
            }
            & .card-description {
              display: none;
              font-size: 12px;
              line-height: 15px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .products {
		& .filter {
			margin-bottom: 30px;
		}
    & .category-header {
      display: block;
      position: absolute;
      letter-spacing: 1px;
      top: 475px;
      transform: rotate(-90deg);
      left: -72px;
      color: #d5d5d5;
      font-size: 48px;
      line-height: 26px;
    }
    & .category-list {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 0px;
      border-bottom: none;
      position: relative;
      // &::after {
      //   position: absolute;
      //   content: "";
      //   display: block;
      //   width: 1px;
      //   height: 435px;
      //   background: rgba(0, 0, 0, 0.125);
      //   right: -20px;
      //   top: 0;
      // }
      & .category-li {
        &:first-child {
          margin-top: 0;
        }
        height: 50px;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        & .category-link {
          text-align: center;
          line-height: 40px;
          font-weight: 700;
          font-size: 16px;
          color: #313131;
          letter-spacing: 1px;
          text-transform: uppercase;
          transition: all 0.2s;
        }
        // &:active {
        //   background-color: $accent-red;
        // }
        &:hover {
          //background-color: rgb(238, 120, 120);
          //box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          & .category-link {
            //color: white;
          }
        }
      }
      & .active {
        & .category-link {
          color: white;
        }
      }
    }
    & .plate {
      padding-left: 30px;
      padding-right: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 270px;
      grid-auto-rows: auto;
      grid-gap: 20px;
      & .product-card-container {
        width: 100%;
        height: 100%;
        padding: 0;
        & .product-card {
          z-index: 0;
          border-radius: $border-radius;
          height: 100%;
          &:hover {
            box-shadow: $box-shadow-up;
          }
          & .img-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 120px;
            width: 100%;
            overflow: hidden;
          }
          & .text-container {
            height: auto;
            padding: 20px 10px 15px 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .flex-top {
              & .product-name {
                display: block;
                font-size: 17px;
                line-height: 18px;
                color: $accent-red;
                margin-bottom: 15px;
                font-weight: 700;
                letter-spacing: 0.3px;
                &::first-word() {
                  color: #353535;
                }
              }
            }
            & .flex-bot {
              & .flex-row {
                height: auto;
                & .product-card-motor-title {
                  font-size: 10px;
                  line-height: 11px;
                  color: #313131;
                  display: block;
                  padding-bottom: 0px;
                  margin-bottom: 3px;
                }
                & .product-card-motor {
                  font-size: 11px;
                  font-weight: 700;
                  letter-spacing: -0.6px;
                  color: grey;
                  display: block;
                  line-height: 14px;
                }
                & .product-card-power-title {
                  line-height: 11px;
                  font-size: 10px;
                  color: #313131;
                  display: block;
                  padding-bottom: 0px;
                  margin-bottom: 3px;
                }
                & .product-card-power {
                  font-size: 11px;
                  font-weight: 700;
                  color: grey;
                  letter-spacing: -0.6px;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 0px;
                }
                & .product-card-details {
                  font-size: 9px;
                  text-align: right;
                  display: block;
                  color: $accent-red;
                }
              }
            }
          }
        }
      }
		}
		& .list {
			margin-top: 0px;
			padding: 0;
			padding-bottom: 30px;
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
			grid-gap: 8px;
			justify-items: center;
			align-items: center;
			& .product-card-container {
				width: 100%;
				height: 100%;
				padding-left: 15px;
				padding-right: 15px;
				& .product-card {
					cursor: pointer;
					position: relative;
					overflow: hidden;
					z-index: 0;
					display: grid;
					grid-template-columns: 1fr 3fr; 
					width: 100%;
					height: auto;
					padding-bottom: 0px;
					border-radius: $border-radius;
					border: 1px solid rgba(0, 0, 0, 0.125);
					transition: box-shadow 0.2s ease-out;
					&:hover {
						box-shadow: $box-shadow-up;
					}
					& .img-container {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						overflow: hidden;
						& .product-card-img {
							height: auto;
							width: 100%;
						}
					}
					& .text-container {
						padding: 10px 30px;
						display: flex;
						flex-direction: column;
						justify-content: space-between;
						& .flex-top {
							& .product-name {
								display: block;
								font-family: $molot-font;
								font-size: 24px;
								line-height: 24px;
								color: $accent-red;
								margin-bottom: 0px;
								letter-spacing: 0.3px;
								&::first-word() {
									color: #353535;
								}
							}
						}
						& .flex-bot {
							& .flex-row {
								display: flex;
								justify-content: space-between;
								align-items: center;
								flex-direction: row;
								flex-wrap: nowrap;
								margin-bottom: 5px;
								& .product-card-motor-title {
									font-size: 12px;
									line-height: 14px;
									color: $sub-color;
									display: block;
									padding-bottom: 2px;
								}
								& .product-card-motor {
									font-size: 14px;
									font-weight: 700;
									letter-spacing: -0.6px;
									color: grey;
									display: block;
									line-height: 14px;
								}
								& .product-card-power-title {
									line-height: 14px;
									font-size: 12px;
									color: $sub-color;
									display: block;
									padding-bottom: 2px;
								}
								& .product-card-power {
									font-size: 14px;
									font-weight: 700;
									color: grey;
									letter-spacing: -0.6px;
									display: block;
									line-height: 14px;
									margin-bottom: 0px;
								}
							}
							// & .product-card-details {
							// 	font-size: 12px;
							// 	text-align: right;
							// 	display: block;
							// 	color: $accent-red;
							// }
						}
					}
				}
			}
		}
  }
  .products-text {
    & .text-wrapper {
      & .header-min-colored {
      }
      & .subheading-common {
      }
      & .text {
        font-size: 19px;
        line-height: 25px;
        color: $accent-grey;
      }
    }
  }
  .promo-projects-product-page {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    & .section-wrapper {
      & .header-min-colored {
        margin-bottom: 15px;
      }
      & .proj-feed {
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
        grid-gap: 15px;
        & .promoproj-card {
          & .proj-img {
            border-radius: $border-radius;
            overflow: hidden;
          }
          & .text-common {
            margin-top: 10px;
            font-size: 17px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .products-promo {
    padding-bottom: 30px;
  }
  .products {
    padding-bottom: 30px;
    & .category-header {
      letter-spacing: 1px;
      font-size: 48px;
		}
		& .filter {
      & .filter-component {
        //border: 1px solid rgba(0, 0, 0, 0.125);
        box-shadow: none;
        border-radius: 10px;
        padding: 30px 15px 25px;
				margin-bottom: 0px;
				margin-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #fafafa;
        & .filter-group {
          width: 70%;
          & .filter-block {
            margin-left: 90px;
            & .input-block {
              & .input-range {
                position: relative;
                & .input-range__label--min {
									font-size: 16px;
                  position: absolute;
                  bottom: -2px;
                  left: -74px;
                  color: $sub-color;
                  font-weight: 300;
                  &::after {
                    content: " кВт";
                    color: $sub-color;
                  }
                }
                & .input-range__label--max {
									font-size: 16px;
                  position: absolute;
                  bottom: -2px;
                  right: -90px;
                  color: $sub-color;
                  font-weight: 300;
                  &::after {
                    content: " кВт";
                    color: $sub-color;
                  }
                }
                & .input-range__track--background {
                  background-color: #fafafa;
                  border: 1px solid #dddddd;
									border-radius: 15px;
									height: 22px;
                  //box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
                  & .input-range__track--active {
                    background: rgb(242, 125, 14);
										opacity: 0.3;
										height: 22px;
                  }
                  & .input-range__slider-container {
                    position: relative;
                    & .input-range__label--value {
                      position: absolute;
                      top: -10px;
                      left: 50%;
                      transform: translateX(-50%);
                      color: $accent-red;
                      font-weight: 600;
                      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
                      & .input-range__label-container {
                      }
                    }
                    & .input-range__slider {
                      position: absolute;
                      background: $accent-red;
                      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
                      border-radius: 11px;
                      height: 35px;
                      position: relative;
                      top: 0;
                      transform: translateY(42%);
                    }
                  }
                }
              }
            }
          }
        }
        & .button-group {
          width: auto;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          & .view-item {
            z-index: 0;
            display: block;
            position: relative;
            width: 26px;
            height: 28px;
            // background-color: red;
            border: none;
            margin-left: 15px;
            cursor: pointer;
          }
          & .plate-icon {
						position: relative;
						& .block {
							z-index: 1;
							position: absolute;
							display: block;
							// background-color: #fff;
							width: 4px;
							height: 4px;
						}
						& .block-1 {
							top: 4px;
							left: 4px;
						}
						& .block-2 {
							top: 4px;
							left: 50%;
							transform: translateX(-50%);
						}
						& .block-3 {
							top: 4px;
							right: 4px;
						}
						& .block-4 {
							top: 50%;
							transform: translateY(-50%);
							left: 4px;
						}
						& .block-5 {
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
						& .block-6 {
							top: 50%;
							right: 4px;
							transform: translateY(-50%);
						}
						& .block-7 {
							bottom: 4px;
							left: 4px;
						}
						& .block-8 {
							bottom: 4px;
							left: 50%;
							transform: translateX(-50%);
						}
						& .block-9 {
							bottom: 4px;
							right: 4px;
						}
					}
					& .list-icon {
						position: relative;
						& .block-min {
							z-index: 1;
							position: absolute;
							display: block;
							// background-color: #fff;
							width: 4px;
							height: 4px;
						}
						& .block-max {
							z-index: 1;
							position: absolute;
							display: block;
							// background-color: #fff;
							width: 12px;
							height: 4px;
						}
						& .block-1 {
							top: 4px;
							left: 4px;
						}
						& .block-2 {
							top: 50%;
							left: 4px;
							transform: translateY(-50%);
						}
						& .block-3 {
							bottom: 4px;
							left: 4px;
						}
						& .block-4 {
							top: 4px;
							right: 4px;
						}
						& .block-5 {
							top: 50%;
							right: 4px;
							transform: translateY(-50%);
						}
						& .block-6 {
							bottom: 4px;
							right: 4px;
						}
	
						
					}
        }
      }
    }
    & .category-list {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-top: 0px;
      border-bottom: none;
      //border-left: 3px solid #313131;
      & .category-li {
        height: 50px;
        cursor: pointer;
        // margin-top: 5px;
				// margin-bottom: 5px;
				margin: 5px 0px;
        border-radius: 10px;
        border: 1px solid #7b7b7b;
        transition: all 0.2s;
        & .category-link {
          text-align: center;
          background-color: rgba(255, 255, 255, 0.05);
          line-height: 40px;
          font-weight: 500;
          font-size: 16px;
          color: $accent-grey;
          letter-spacing: 0.2px;
          text-transform: uppercase;
          //text-shadow: 2px 8px 4px rgba(0, 0, 0, 0.15);
          transition: all 0.2s;
        }
        // &:active {
        //   background-color: $accent-red;
        // }
        &:hover {
          border: 1px solid transparent;
          box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
          background-color: rgba(255, 255, 255, 0.9);
          & .category-link {
            color: $accent-grey;
          }
        }
      }
      & .active {
        box-shadow: 5px 10px 15px rgba(210, 74, 67, 0.45);
        background-color: $accent-red;
        border: none;
        & .category-link {
          color: white;
        }
      }
    }
    & .plate {
      //padding: 0;
      display: grid;
      padding-left: 25px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 270px;
      grid-auto-rows: auto;
      grid-gap: 20px;
      & .product-card-container {
        width: 100%;
        height: 100%;
        padding: 0;
      }
		}
		& .list {
			margin-top: 0px;
			padding: 0;
			padding-bottom: 30px;
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
			grid-gap: 8px;
			justify-items: center;
			align-items: center;
			& .product-card-container {
				width: 100%;
				height: 100%;
				padding-left: 15px;
				padding-right: 15px;
				& .product-card {
					cursor: pointer;
					position: relative;
					overflow: hidden;
					z-index: 0;
					display: grid;
					grid-template-columns: 1fr 5fr; 
					width: 100%;
					height: auto;
					padding-bottom: 0px;
					border-radius: $border-radius;
					border: 1px solid rgba(0, 0, 0, 0.125);
					transition: box-shadow 0.2s ease-out;
					&:hover {
						box-shadow: $box-shadow-up;
						background-color: #fff;
					}
					& .img-container {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						overflow: hidden;
						& .product-card-img {
							height: auto;
							width: 100%;
						}
					}
					& .text-container {
						padding: 0px 30px;
						display: grid;
						grid-template-columns: 1fr 2fr;
						grid-gap: 15px;
						align-items: center;
						& .flex-top {
							& .product-name {
								display: block;
								font-family: $molot-font;
								font-size: 23px;
								line-height: 24px;
								color: $accent-red;
								margin-bottom: 0px;
								letter-spacing: 0.3px;
								&::first-word() {
									color: #353535;
								}
							}
						}
						& .flex-bot {
							& .flex-row {
								display: flex;
								justify-content: space-between;
								align-items: center;
								flex-direction: row;
								flex-wrap: nowrap;
								margin-bottom: 8px;
								margin-top: 8px;
								& .product-card-motor-title {
									font-size: 14px;
									line-height: 14px;
									color: $sub-color;
									display: block;
									padding-bottom: 2px;
								}
								& .product-card-motor {
									font-size: 16px;
									font-weight: 700;
									letter-spacing: -0.6px;
									color: grey;
									display: block;
									line-height: 14px;
								}
								& .product-card-power-title {
									font-size: 14px;
									line-height: 14px;
									color: $sub-color;
									display: block;
									padding-bottom: 2px;
								}
								& .product-card-power {
									font-size: 16px;
									font-weight: 700;
									color: grey;
									letter-spacing: -0.6px;
									display: block;
									line-height: 14px;
									margin-bottom: 0px;
								}
							}
							& .product-card-details {
								font-size: 12px;
								text-align: right;
								display: none;
								color: $accent-red;
							}
						}
					}
				}
			}
		}
  }
  .products-text {
    padding-bottom: 60px;
    padding-top: 60px;
    & .text-wrapper {
      & .header-min-colored {
        margin: 0;
      }
      & .subheading-common {
        margin: 0;
        color: $accent-red;
      }
      & .text {
        margin-top: 19px;
        margin-bottom: 15px;
        line-height: 24px;
      }
    }
  }
  .products-text {
    position: relative;
    &::after {
      display: block;
      position: absolute;
      background: url("/static/images/IMG_3.jpg") -60px 0 no-repeat;
      background-size: cover;
      content: "";
      top: 0;
      right: -100px;
      height: 95%;
      width: 50%;
      border-radius: 15px;
      box-shadow: -15px 25px 0px rgba(0, 0, 0, 0.125);
      background-color: #fff;
    }
    & .text-wrapper {
      & .header-min-colored {
      }
      & .subheading-common {
      }
      & .text {
        font-size: 18px;
        line-height: 24px;
        color: $accent-grey;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .products-promo {
    background: url("/static/images/products/bg-products.jpg") 50% 0% no-repeat;
    background-size: cover;
    padding: 30px;
    border-bottom: 15px solid white;
    & .promo-text-container {
      display: block;
      height: 100%;
      position: relative;
      & .header-min-colored {
        position: absolute;
        display: block;
        width: 770px;
        top: 30px;
        margin-bottom: 15px;
        color: white;
        font-size: 47px;
        line-height: 56px;
        //letter-spacing: 1px;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
      }
      & .text-min-container {
        top: 150px;
        position: absolute;

        & .text-min {
          color: rgb(41, 41, 41);
          line-height: 20px;
          font-size: 16px;
          margin-top: 20px;
          //font-weight: 500;
        }
      }
    }
    & .cards-plate {
      margin-top: 0px;
      display: grid;
      grid-template: 125px 125px 125px / 330px 330px;
      grid-gap: 15px;

      & .card-container {
        transition: all 0.15s ease-in-out;
        border-radius: $border-radius;
        &:hover {
          box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
          & .card {
            background: rgba(255, 255, 255, 0.25);
          }
        }
        &:active {
          transform: translateY(-10px);
          & .card {
          }
        }
        & .card {
          background: rgba(255, 255, 255, 0.05);
          border-radius: $border-radius;
          border: 3px solid white;
          background: none;
          padding: 15px;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          & .icon-container {
            width: 120px;
            margin-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            & .icon {
            }
          }
          & .text-container {
            margin-left: 15px;
            padding-left: 15px;
            border-left: 1px solid white;
            & .card-title {
              font-size: 19px;
              color: #fafafa;
              letter-spacing: 2px;
              line-height: 19px;
              display: block;
              text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
              font-family: $molot-font, serif;
              margin-bottom: 5px;
            }
            & .card-description {
              display: block;
              font-size: 14px;
              line-height: 17px;
              margin-bottom: 0;
            }
          }
        }
      }
      & .container-1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      & .container-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      & .container-3 {
        grid-column: 2 / 3;
        grid-row: 3 / 4;
      }
      & .container-4 {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
        & .card {
          background: rgba(255, 255, 255, 0.15);
        }
      }
    }
  }
  .products {
    padding-top: 18px;
    & .category-header {
    }
    & .filter {
      & .filter-component {
        //border: 1px solid rgba(0, 0, 0, 0.125);
        //box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
				//box-shadow: 0px 15px 30px -10px rgba(0, 0, 0, 0.07);
				box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        //box-shadow: $card-shadow;
        border-radius: 10px;
        padding: 20px 15px 17px 25px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #fff;
        & .filter-group {
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					align-items: center;
					width: 100%;
					& .text-container {
						display: block;
						padding-right: 25px;
						border-right: 1px solid rgba(0, 0, 0, 0.125);
						& .filter-text {
							display: block;
							color: $sub-color;
							font-weight: 700;
							font-size: 15px;
							line-height: 18px;
							
							margin-bottom: 0px;
							// background-color: grey;
							// width: 100px;
						}
						& .search-text {
							font-size: 12px;
							color: $sub-color;
						}
						& .search-text-value {
							font-size: 12px;
							color: $accent-red;
						}
					}
          & .filter-block {
						width: 45%;
            margin-left: 110px;
            & .input-block {
              & .input-range {
                position: relative;
                & .input-range__label--min {
                  position: absolute;
                  bottom: -2px;
                  left: -78px;
                  color: $sub-color;
                  font-weight: 300;
                  &::after {
                    content: " кВт";
                    color: $sub-color;
                  }
                }
                & .input-range__label--max {
                  position: absolute;
                  bottom: -2px;
                  right: -85px;
                  color: $sub-color;
                  font-weight: 300;
                  &::after {
                    content: " кВт";
                    color: $sub-color;
                  }
                }
                & .input-range__track--background {
                  background-color: #fafafa;
									border: 1px solid #dddddd;
									border: none;
									box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
									border-radius: 15px;
									height: 22px;
                  //box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
                  & .input-range__track--active {
                    background: rgb(231, 172, 117);
										opacity: 1;
										height: 22px;
										box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.15), inset -1px -1px 1px rgba(0, 0, 0, 0.15), 1px 1px 1px rgba(0, 0, 0, 0.2);
                  }
                  & .input-range__slider-container {
                    position: relative;
                    & .input-range__label--value {
                      position: absolute;
                      top: -7px;
                      left: 50%;
                      transform: translateX(-50%);
                      color: $accent-red;
                      font-weight: 600;
                      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
                      text-shadow: none;
                      & .input-range__label-container {
                      }
                    }
                    & .input-range__slider {
                      position: absolute;
                      background: $accent-red;
                      box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
                      border-radius: 11px;
                      height: 35px;
                      position: relative;
                      top: 0;
                      transform: translateY(42%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    & .category-list {
      & .category-li {
        height: 50px;
        cursor: pointer;
        & .category-link {
          font-size: 18px;
          letter-spacing: 0.3px;
          text-transform: uppercase;
          //text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.2);
          transition: text-shadow 0.2s;
        }
        // &:active {
        //   background-color: $accent-red;
        // }
        &:hover .category-link {
          //text-shadow: $box-shadow;
        }
      }
    }
    & .plate {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-auto-rows: auto;
      grid-gap: 25px;
      & .product-card-container {
        & .product-card {
          cursor: pointer;
          position: relative;
          z-index: 0;
          display: block;
          margin: 0 auto;
          background: #fff;
          width: 100%;
          & .img-container {
            height: 197px;
            & .product-card-img {
              max-width: 100%;
              width: auto;
              height: 100%;
            }
          }
          & .text-container {
            height: 190px;
            padding: 25px 20px 25px 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            & .flex-top {
              & .product-name {
                font-size: 21px;
                line-height: 22px;
                margin-bottom: 15px;
              }
            }
            & .flex-bot {
              & .flex-row {
                height: auto;
                & .product-card-motor-title {
                  font-size: 14px;
                  line-height: 13px;
                  color: #c4c4c4;
                  display: block;
                  font-weight: 300;
                  margin-bottom: 7px;
                }
                & .product-card-motor {
                  font-size: 14px;
                  color: $accent-grey;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 12px;
                  letter-spacing: normal;
                }
                & .product-card-power-title {
                  line-height: 13px;
                  font-size: 14px;
                  color: #c4c4c4;
                  font-weight: 300;
                  display: block;
                  margin-bottom: 7px;
                }
                & .product-card-power {
                  font-size: 16px;
                  font-weight: 700;
                  color: $accent-grey;
                  letter-spacing: normal;
                  display: block;
                  line-height: 14px;
                  margin-bottom: 15px;
                }
              }
							& .product-card-details {
								color: $accent-red;
								width: 100%;
								font-size: 12px;
								text-align: right;
								display: block;
								font-weight: 700;
							}
            }
          }
        }
      }
		}
		& .list {
			margin-top: 0px;
			padding: 0;
			padding-bottom: 30px;
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
			grid-gap: 10px;
			justify-items: center;
			align-items: center;
			& .product-card-container {
				width: 100%;
				height: 100%;
				padding-left: 15px;
				padding-right: 15px;
				& .product-card {
					cursor: pointer;
					position: relative;
					overflow: hidden;
					z-index: 0;
					display: grid;
					grid-template-columns: 1fr 7fr; 
					width: 100%;
					height: 100px;
					min-height: 100px;
					padding-bottom: 0px;
					border-radius: $border-radius;
					//box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
					box-shadow: $card-shadow;
					border: none;
					transition: box-shadow 0.15s ease-out;
					background-color: #fff;
					&:hover {
						//box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
          	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
						background-color: #fff;
					}
					& .img-container {
						display: flex;
						justify-content: flex-start;
						align-items: flex-start;
						width: 100%;
						height: 100%;
						overflow: hidden;
						& .product-card-img {
							height: auto;
							width: 100%;
						}
					}
					& .text-container {
						padding: 0px 30px;
						display: grid;
						grid-template-columns: 1fr 3fr;
						grid-gap: 15px;
						align-items: center;
						& .flex-top {
							& .product-name {
								display: block;
								font-family: $noto-font;
								font-size: 18px;
								font-weight: 900;
								line-height: 24px;
								color:$accent-grey;
								margin-bottom: 0px;
								letter-spacing: 0px;
								&::first-word() {
									color: #353535;
								}
							}
						}
						& .flex-bot {
							display: grid;
							grid-template-columns: 2fr 1fr 1fr;
							& .flex-row {
								display: flex;
								justify-content: space-between;
								align-items: center;
								flex-direction: row;
								flex-wrap: nowrap;
								margin-bottom: 8px;
								margin-top: 8px;
								& .product-card-motor-title {
									display: none;
								}
								& .product-card-motor {
									font-size: 16px;
									font-weight: 300;
									letter-spacing: -0.6px;
									color: grey;
									display: block;
									line-height: 14px;
								}
								& .product-card-power-title {
									display: none;
								}
								& .product-card-power {
									font-size: 16px;
									font-weight: 900;
									color: $text;
									letter-spacing: -0.6px;
									display: block;
									line-height: 14px;
									margin-bottom: 0px;
								}
							}
							& .product-card-details {
								padding: 10px 15px;
								font-size: 12px;
								line-height: 14px;
								text-align: center;
								display: inline-block;
								color: white;
								background-color: $accent-red;
								border-radius: 3px;
								
							}
						}
					}
				}
			}
		}
  }
  .products-text {
    position: relative;
    &::after {
      display: block;
      position: absolute;
      background: url("/static/images/IMG_3.jpg") 0 0 no-repeat;
      background-size: cover;
      content: "";
      top: auto;
      bottom: 15px;
      right: -100px;
      height: 80%;
      width: 40%;
      border-radius: 15px;
      box-shadow: -15px 15px 0px rgba(0, 0, 0, 0.125);
      box-shadow: -3px 3px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
    }

    & .text-wrapper {
      & .header-min-colored {
      }
      & .subheading-common {
      }
      & .text {
        font-size: 17px;
        line-height: 25px;
        color: #313131;
      }
    }
  }
  .promo-projects-product-page {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    & .section-wrapper {
      & .header-min-colored {
        margin-bottom: 15px;
      }
      & .proj-feed {
        grid-gap: 30px;
        & .promoproj-card {
          &:hover {
            & .proj-img {
              box-shadow: 0 10px 15px rgba(0, 0, 0, 0.225);
            }
          }
          & .proj-img {
            border-radius: 10px;
            overflow: hidden;
            transition: all 0.1s ease-in;
          }
          & .text-common {
            margin-top: 10px;
            font-size: 18px;
            line-height: 23px;
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1500px) {
  .products-text {
    &::before {
      display: block;
      position: absolute;
      background: url("/static/images/IMG_2.jpg") 25% 0 no-repeat;
      background-size: cover;
      content: "";
      top: 0px;
      left: -100px;
      height: 80%;
      width: 18%;
      border-radius: 15px;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;
    }
  }
  .promo-projects-product-page {
    margin-top: 60px;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }
}
