@import "../vars";

.react-fancybox .box {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}

.react-fancybox .thumbnail img {
  max-width: 600px;
}

.react-fancybox .box .image-box {
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  position: relative;
}

.react-fancybox .box .image-box .caption {
  text-align: center;
  font-size: 14px;
  margin-top: 7px;
}

.react-fancybox .fade-enter {
  animation: fadein 600ms;
}

.react-fancybox .fade-leave {
  animation: fadeout 600ms;
}

.react-fancybox .close-btn {
  background-color: white;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  right: -13px;
  top: -13px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.product-unit {
  padding: 0;
  & .mycontainer {
    //box-shadow: $box-shadow;
  }
}
.description {
  background-color: #fafafa;
}
.section-plate {
  & .product-img-container {
    max-width: 100%;
    & .product-img {
      width: 100%;
    }
  }
  & .header-red {
    display: block;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  & .text-min {
    ////////////////////////////////////
    color: white;
    & b {
      color: #2e2e2e;
    }
  }
  & .text-black {
    /////////////////////////////////////
    color: #353535;
  }
  & .product-energy-container {
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    width: 100%;
    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-color: #fff;
      top: 50%;
      z-index: 0;
      transform: translateY(-50%);
    }
    & .product-energy {
      //font-family: $molot-font;
      font-size: 17px;
      font-weight: 900;
      //letter-spacing: 2px;
      z-index: 1;
      color: #fafafa;
      margin: 15px 0 15px auto;
      background-color: $accent-red;
      display: block;
      padding: 5px 15px;
      //width: auto;
      border-radius: 30px;
      border: 2px solid white;
    }
  }
  & .product-img-container {
    //box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
  & .parametrs-container {
    padding-bottom: 40px;
    & .calc-link {
      display: block;
      width: 100%;
      height: 400px;
      background: $red-gradient;
    }
    & .text-container {
      min-height: 40px;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      //margin-bottom: 30px;
      border-bottom: 1px solid lightgrey;
      & .text-common {
        line-height: 20px;
        display: block;
      }
      & .text-bold {
        display: block;
        font-size: 15px;
        line-height: 20px;
        text-align: right;
      }
    }
  }
}
.usage {
  & ul {
    padding: 0;
    padding-top: 15px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    & li {
      position: relative;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 25px;
      &::before {
        display: block;
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: $accent-red;
        border-top-left-radius: 10px;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
.form-bg {
  position: relative;
  padding: 0;
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .color-section {
    & .section-plate {
      & .product-energy-container {
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        width: 100%;
        &::after {
          display: block;
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background-color: #fff;
          top: 50%;
          z-index: 0;
          transform: translateY(-50%);
        }
        & .product-energy {
          z-index: 1;
          margin: 0px 0 0px auto;
          background-color: $accent-red;
          display: block;
          padding: 5px 15px;
          border: 2px solid white;
        }
      }
      & .product-img-container {
        display: flex;
        align-items: center;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .color-section {
    & .section-plate {
      & .header-red {
        padding-bottom: 0px;
      }
      & .text {
        line-height: 24px;
        font-size: 17px;
        font-weight: 300;
      }
      & .product-energy-container {
        margin-top: 0px;
        // & .product-energy {
        //   font-size: 24px;
        //   padding: 5px 30px;
        //   box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        // }
      }
    }
  }
  .section-plate {
    & .parametrs-container {
      //flex-direction: column;
      & .text-container {
        padding-top: 15px;
        padding-bottom: 15px;
        & .text-bold {
          font-size: 18px;
        }
      }
    }
  }
  .usage {
    & ul {
      & li {
        position: relative;
        padding: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 35px;
        &::before {
          display: block;
          content: "";
          position: absolute;
          width: 14px;
          height: 14px;
          background-color: $accent-red;
          border-top-left-radius: 10px;
          left: 0px;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .color-section {
    & .section-plate {
      & .header-red {
        padding-bottom: 15px;
      }
      & .text {
        line-height: 26px;
        font-size: 18px;
        font-weight: 300;
      }
      & .product-energy-container {
        margin-top: 10px;
        & .product-energy {
          font-size: 24px;
          padding: 5px 30px;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
