@import "../vars";

.product-unit {
  padding: 0;
  & .mycontainer {
    //box-shadow: $box-shadow;
  }
}
.section-plate {
  & .product-img-container {
    max-width: 100%;
    margin-bottom: 15px;
    & .product-img {
      width: 100%;
    }
  }
  & .product-header {
    font-size: 24px;
    padding-bottom: 15px;
  }
  & .product-energy {
    display: block;
    text-align: right;
    color: #ca4729;
    font-weight: 700;
    letter-spacing: -0.5px;
  }
  & .text-min {
    padding-top: 5px;
    font-size: 16px;
    line-height: 24px;
  }
  & .text-container {
    display: block;
    // align-items: center;
    // justify-content: flex-start;
    //height: 40px;
    margin-bottom: 15px;
    & .text-common {
      padding: 0;
      margin: 0;
      line-height: 26px;
    }
    & .text-bold {
      font-size: 16px;
      padding: 0;
      margin: 0;
      line-height: 26px;
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .section-plate {
    & .product-img-container {
      max-width: 100%;
      margin-bottom: 15px;
      & .product-img {
        width: 100%;
      }
    }
    & .product-header {
      font-size: 28px;
    }
    & .product-energy {
      display: block;
      text-align: right;
      color: #ca4729;
      font-weight: 700;
      letter-spacing: -0.5px;
    }
    & .text-min {
      line-height: 26px;
    }
    & .text-container {
      display: block;
      // align-items: center;
      // justify-content: flex-start;
      //height: 40px;
      margin-bottom: 15px;
      & .text-common {
        padding: 0;
        margin: 0;
        line-height: 26px;
      }
      & .text-bold {
        font-size: 16px;
        padding: 0;
        margin: 0;
        line-height: 26px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .section-plate {
    & .product-header {
      font-size: 30px;
    }
    & .product-energy {
      display: block;
      text-align: left;
      color: #ca4729;
      font-weight: 700;
      letter-spacing: -0.5px;
    }
    & .text-min {
      line-height: 26px;
    }
    & .text-container {
      & .text-common {
      }
      & .text-bold {
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
