@import "../vars";

.usage {
  background-color: $l-grey;
  padding-top: 30px;
  padding-bottom: 30px;
  & .header-min-colored {
  }
  & .text-bold {
    //line-height: 18px;
    color: $accent-grey;
    font-weight: 300;
  }
  & ul {
    padding: 0;
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    & li {
      position: relative;
      padding: 0;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 35px;
      margin-bottom: 5px;
      &::before {
        display: block;
        content: "";
        position: absolute;
        width: 14px;
        height: 14px;
        background-color: $accent-red;
        border-radius: 10px;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
      & .text {
        line-height: 20px;
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .usage {
    padding-top: 45px;
    padding-bottom: 45px;
    & .header-min-colored {
    }
    & .text-bold {
      line-height: 25px;
      font-size: 19px;
    }
    & ul {
      & li {
        & .text {
          font-size: 19px;
          line-height: 20px;
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .usage {
    background-color: #fafafa;
    padding-top: 30px;
    padding-bottom: 30px;
    //box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    & .usage-wrapper {
      padding: 45px;
      background-color: transparent;
      background: linear-gradient(to right, #fff 25%, rgba(255, 255, 255, 0.85)),
        url("/static/images/IMG_2.jpg") 100% 100% no-repeat;
      border-radius: 10px;
      //border: 1px solid $sub-color;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.15);
      & .header-min-colored {
      }
      & .text-bold {
        line-height: 26px;
        font-size: 18px;
        color: $text;
        font-weight: 500;
      }
      & ul {
        & li {
          position: relative;
          padding: 0;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 35px;
          &::before {
            display: block;
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            background-color: $accent-red;
            border-top-left-radius: 10px;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
