@import '../vars';

.promo-projects {
  margin-top: 30px;
  padding-top: 30px;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  & .header-razdel {
    margin-bottom: 0px;
  }
  & .proj-feed {
    padding-top: 15px;
    padding-bottom: 30px;
    display: grid;
    grid-template: auto auto auto / 1fr;
    grid-gap: 30px;
    justify-content: center;
    justify-items: center;
    & .promoproj-card {
      max-width: 360px;
      & .proj-img {
        border-radius: 3px;
        overflow: hidden;
      }
      & .text-common {
        margin-top: 15px;
        font-size: 16px;
        //letter-spacing: 0.4px;
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .promo-projects {
    & .proj-feed {
      padding-top: 15px;
      padding-bottom: 30px;
      display: grid;
      grid-template: auto auto / 1fr 1fr;
      grid-gap: 15px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .promo-projects {
    & .proj-feed {
      padding-top: 15px;
      padding-bottom: 30px;
      padding-left: 15px;
      padding-right: 15px;
      display: grid;
      grid-template: 1fr / 1fr 1fr 1fr;
      grid-gap: 30px;
      justify-content: center;
      justify-items: center;
      & .promoproj-card {
        max-width: 360px;
        & .proj-img {
          border-radius: 3px;
          overflow: hidden;
        }
        & .text-common {
          font-size: 18px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .promo-projects {
    padding: 0;
    padding-top: 30px;
    & .header-razdel {
      margin-bottom: 0px;
      font-size: 24px;
      text-align: right;
    }
    & .proj-feed {
      padding: 30px;
      padding-top: 15px;
      display: grid;
      grid-template: auto auto auto / 1fr;
      grid-gap: 30px;
      justify-content: center;
      justify-items: center;
      & .promoproj-card {
        max-width: 360px;
        & .proj-img {
          border-radius: 3px;
          overflow: hidden;
        }
        & .text-common {
          font-size: 18px;
          margin-top: 0px;
        }
      }
    }
  }
}
