@import "../vars";

.promo-projects {
  margin-top: 30px;
  padding-top: 15px;
  //background-color: #fafafa;
  border-radius: 3px;
  //border: 1px solid #e0e0e0;
  & .header-min-colored {
    margin-bottom: 0px;
    //font-family: $molot-font;
  }
  & .proj-feed {
    padding-top: 15px;
    padding-bottom: 15px;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 15px;
    justify-content: center;
    justify-items: center;
    & .promoproj-card {
      max-width: 360px;
      & .proj-img {
        border-radius: 3px;
        overflow: hidden;
      }
      & .text-common {
        padding-top: 8px;
        padding-left: 0px;
        padding-right: 35px;
        display: block;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        line-height: 18px;
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .promo-projects {
    & .proj-feed {
      padding-top: 15px;
      padding-bottom: 30px;
      display: grid;
      grid-template: auto auto / 1fr 1fr;
      grid-gap: 15px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .promo-projects {
    margin-top: 30px;
    padding-top: 15px;
    //background-color: #fafafa;
    border-radius: 3px;
    //border: 1px solid #e0e0e0;
    & .header-min-colored {
      margin-bottom: 0px;
      //font-family: $molot-font;
    }
    & .proj-feed {
      grid-gap: 30px;
      & .promoproj-card {
        max-width: 360px;
        & .proj-img {
          border-radius: 3px;
          overflow: hidden;
        }
        & .text-common {
          padding-top: 12px;
          padding-left: 0px;
          padding-right: 35px;
          display: block;
          font-size: 16px;
          font-weight: 500;
          text-align: left;
          line-height: 18px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .promo-projects {
    & .proj-feed {
      padding-top: 15px;
      display: grid;
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
      grid-gap: 15px;
      justify-content: center;
      justify-items: center;
      & .promoproj-card {
        max-width: 360px;
        & .proj-img {
          border-radius: 3px;
          overflow: hidden;
        }
        & .text-common {
          font-size: 18px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .promo-projects {
    padding: 0;
    padding-left: 40px;
    //padding-top: 30px;
    & .header-min-colored {
      margin-top: 31px;
      margin-bottom: 15px;
      font-size: 19px;
      text-align: right;
      border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    }
    & .proj-feed {
      padding: 0px;
      //padding-top: 15px;
      display: grid;
      grid-template: 1fr / 1fr;
      grid-auto-flow: row;
      grid-gap: 30px;
      grid-gap: 30px;
      justify-content: center;
      justify-items: center;
      & .promoproj-card {
        max-width: 360px;
        cursor: pointer;
        & .proj-img {
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
        }
        & .text-common {
          font-size: 18px;
          margin-top: 0px;
          text-align: right;
          padding-right: 0;
        }
      }
    }
  }
}
