.similar-products {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
  & .similar-card {
    width: 25%;
    padding-right: 30px;
    &:last-child {
      padding-right: 0;
    }
    & .similar-card-img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}
// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
