@import "../vars";

.border-simprod {
  //border: 1px solid #e0e0e0;
}
.header-red-2 {
  padding-top: 15px;
  margin-left: 0;
}
.similar-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-gap: 15px;
  margin: 0;
  margin-bottom: 20px;
  //border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
  & .similar-card-container {
    & .similar-card {
      width: 100%;
      height: 100%;
      max-width: 270px;
      max-height: auto;
      cursor: pointer;
      & .img-container {
        //height: 80px;
        border-radius: $border-radius;
        overflow: hidden;
        & .similar-card-img {
          width: 100%;
          object-fit: cover;
          height: 100%;
        }
      }
      & .similar-card-title {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        display: block;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
        line-height: 16px;
      }
    }
  }
}
// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .similar-products {
    & .similar-card-container {
      & .similar-card {
        cursor: pointer;
        & .img-container {
          & .similar-card-img {
          }
        }
        & .similar-card-title {
          padding-top: 8px;
          padding-left: 0px;
          padding-right: 35px;
          display: block;
          font-size: 14px;
          font-weight: 500;
          text-align: left;
          line-height: 18px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .similar-products {
    margin-bottom: 20px;
    grid-gap: 30px;
    & .similar-card-container {
      height: auto;
      max-height: auto;
      & .similar-card {
        height: auto;
        max-height: auto;
        max-width: 360px;
        & .img-container {
          //height: 80px;
          & .similar-card-img {
            width: 100%;
            object-fit: cover;
            height: 100%;
          }
        }
        & .similar-card-title {
          padding-top: 12px;
          padding-left: 0px;
          padding-right: 65px;
          display: block;
          font-size: 16px;
          font-weight: 500;
          text-align: left;
          line-height: 24px;
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .similar-products {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    margin: 0;
    margin-bottom: 20px;
    & .similar-card-container {
      & .similar-card {
        max-width: 360px;
        cursor: pointer;
        & .img-container {
          border-radius: 3px;
          max-height: 154px;
          overflow: hidden;
          & .similar-card-img {
            // width: 100%;
            // object-fit: cover;
            // height: 100%;
          }
        }
        & .similar-card-title {
          font-size: 18px;
        }
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #power-header {
    margin-top: 30px;
    padding-left: 15px;
  }
  .bg-gradient-white {
    background: linear-gradient(to bottom, #fff 0%, #fafafa 100%);
  }
  .similar-products {
    //background: #fff;
    margin: 0 15px;
    margin-bottom: 60px;
    grid-gap: 30px;
    & .similar-card-container {
      & .similar-card {
        &:hover {
          & .img-container {
            box-shadow: 5px 25px 25px -15px rgba(0, 0, 0, 0.35);
            & .similar-card-img {
              // box-shadow: 0px 20px 30px -15px rgba(0, 0, 0, 0.3);
              // transform: scale(1.025);
            }
          }
        }
        & .img-container {
          height: 180px;
          border-radius: $border-radius;
          overflow: hidden;
          box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
          transition: all 0.1s ease-in;
          & .similar-card-img {
            //box-shadow: $box-shadow;
            width: 100%;
            object-fit: cover;
            height: 100%;
            transition: all 0.2s ease-in;
          }
        }
        & .similar-card-title {
          display: block;
          font-size: 17px;
          padding-right: 0;
          font-weight: 300;
          line-height: 22px;
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
