@import "../vars";

.project {
  position: relative;
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    width: 29%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #ecebeb;
    border-left: 2px solid #cb4828;
  }
}
.project-detail {
  padding-bottom: 70px;
  position: relative;
  &::after {
    z-index: -1;
    position: absolute;
    content: "";
    display: block;
    width: 67%;
    height: 97%;
    bottom: 0;
    left: 0;
    //background-color: #ecebeb;
    border-top: 2px solid #d44625;
    border-right: 4px solid #d44625;
  }
  & .section-plate {
    & .header-detail {
      font-weight: 700;
      letter-spacing: -0.6px;
    }
    & .img-main-container {
      height: auto;
      //background-color: green;
      display: flex;
      justify-content: center;
      align-items: center;
      & .img-container {
        display: block;
        justify-content: center;
        padding-top: 15px;
        padding-bottom: 15px;
        //height: 100%;
        max-height: 270px;
        overflow: hidden;
        //background-color: red;
        //box-shadow: $box-shadow;
        & .detail-img {
          //border: 2px solid white;
          display: block;
          width: 100%;
          //max-width: 100%;
          height: auto;
          //max-height: 100%;
        }
      }
    }
    & .project-unitplate-props-container {
      padding: 15px;
      & span {
        font-weight: 700;
        letter-spacing: -0.3px;
        display: block;
        line-height: 32px;
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .project-detail {
    & .mycontainer {
      & .img-main-container {
        & .img-container {
          max-height: 360px;
        }
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
