@import "../vars";

.project-cards-plate {
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  & .project-card {
    //display: flex;
    width: 100%;
    max-width: 330px;
    //height: 160px;
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.1),
      -7px 10px 15px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s;
    &:hover {
      box-shadow: $box-shadow;
    }
    & .img-container {
      width: 100%;
      height: auto;
      overflow-x: hidden;
      border-top: 15px solid #fff;
      & .project-card-img {
        max-width: auto;
        height: 100%;
        max-height: 270px;
      }
    }
    & .project-card-header-container {
      padding: 10px 15px;
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      color: #313131;
      & .flex-top {
        width: 100%;
        & .project-card-class {
          display: block;
          font-size: 10px;
          line-height: 12px;
        }
        & .project-card-client {
          display: block;
          font-size: 10px;
          line-height: 12px;
          font-weight: 700;
          margin-top: 5px;
          padding-bottom: 5px;
        }
        & .project-card-header {
          display: block;
          font-size: 16px;
          font-weight: 700;
          //color: #cb4828;
          letter-spacing: -0.6px;
          border-top: 0.5px solid red;
        }
      }
      & .flex-bot {
        width: 100%;
        & .project-card-city {
          font-size: 10px;
          text-align: right;
          display: block;
        }
        & .project-card-energy {
          display: block;
          font-size: 12px;
          font-weight: 700;
          line-height: 12px;
          color: red;
          text-align: right;
        }
      }
    }
  }
}
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .project-cards-plate {
    justify-content: space-between;
  }
  .project-cards-plate .project-card {
    //width: 100%;
    //max-width: 221px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .project-cards-plate {
    justify-content: space-between;
  }
  .project-cards-plate .project-card {
    //width: 100%;
    //max-width: 281px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .project-cards-plate {
    & .project-card {
      width: 31.5%;
      & .project-card-header-container {
        & .flex-top {
          & .project-card-client {
            font-size: 12px;
            line-height: 14px;
            font-weight: 700;

            margin-top: 5px;
            padding-bottom: 5px;
          }
          & .project-card-header {
            font-size: 18px;
            font-weight: 700;
            letter-spacing: -0.6px;
            //line-height: 18px;
            color: grey;
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
