@import "../vars";
.potencialRynka {
  padding-bottom: 80px;
  margin-top: 80px;
  & .subheading-red-bottom {
  }
  & .img-container {
    & .potential-pic {
      max-width: 100%;
      height: auto;
      margin-top: 80px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      //border: 10px solid white;
    }
  }
}
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
