@import '../vars';
.redzone {
  background: linear-gradient(-265deg, #cb4828 0%, #e46849 100%);
  padding-top: 30px;
  padding-bottom: 20px;
  & .redzone-text {
    color: #fff;
    font-family: $noto-font;
  }
}
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
