@import "../vars";

.optimal-agregats {
  padding-top: 30px;
  padding-bottom: 80px;
  & .header-red {
    padding-left: 15px;
  }
  & .text {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  & .img-container {
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    & img {
      box-shadow: $box-shadow;
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .optimal-agregats {
    & .row {
      & .col-12 {
        padding: 0;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .forma {
    margin-left: 0;
    margin-right: 0;
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
