@import "../vars";

.optimal-agregats {
  padding-top: 30px;
  padding-bottom: 80px;
  & .header-red {
    padding-left: 15px;
  }
  & .text-min {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  & .img-container {
    overflow: hidden;
    box-shadow: $box-shadow;
    & img {
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
