@import "../vars";

.services {
  z-index: 0;
  padding-bottom: 250px;
  background: #fafafa;
  position: relative;
  &::after {
    position: absolute;
    //opacity: 0.3;
    z-index: -1;
    content: "";
    display: block;
    width: 100%;
    height: 80%;
    top: 63%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    background: url("/static/images/bg-services.jpg") 70% 50% no-repeat;
    clip-path: polygon(0 15%, 100% 0, 100% 60%, 0 90%);
  }
  & .cards-col {
    padding: 0;
    & .cards-container {
      padding: 15px;
      background-color: rgba(255, 255, 255, 0.8);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto auto;
      grid-gap: 15px;
      & .teh-plate {
        .teh-card {
          display: block;
          width: 100%;
          transition: all 0.2s;
          & .teh-image-container {
            box-shadow: $box-shadow;
            overflow: hidden;
            position: relative;
            transition: all 0.2s;
            background: linear-gradient(
              to right,
              #cfcfcf 0%,
              #d0d0d0 50%,
              #cfcfcf 100%
            );
            &::after {
              content: "";
              display: block;
              position: absolute;
              z-index: 3;
              width: 100%;
              height: 100%;
              top: 0;
              background-image: linear-gradient(
                to bottom,
                rgba(255, 0, 0, 0) 0%,
                rgba(255, 0, 0, 0) 50%,
                rgba(255, 0, 0, 0) 100%
              );
              transition-duration: 0.2s;
            }
            & .teh-image {
              display: block;
              margin: 0 auto;
              width: auto;
              max-width: 100%;
              height: 145px;
              object-fit: cover;
              // border-radius: 5px;
              transition: all 0.2s;
              position: relative;
              z-index: 2;
            }
            & .teh-content {
              display: none;
            }
            & .button-container {
              display: none;
            }
          }
          & .header-container {
            z-index: 4;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            & .teh-header {
              color: #353535;
              font-size: 13px;
              line-height: 18px;
              text-align: center;
              font-weight: 700;
              font-family: $noto-font;
              height: 40%;
              &:hover {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .services {
    & .cards-col {
      padding: 0;
      & .cards-container {
        padding: 15px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        grid-gap: 15px;
        & .teh-plate {
          display: block;
          width: 100%;
          & .teh-card {
            display: block;
            width: 100%;
            transition: all 0.2s;
            & .teh-image-container {
              & .teh-image {
                width: auto;
                max-width: 100%;
                height: 155px;
              }
            }
            & .header-container {
              z-index: 4;
              height: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              & .teh-header {
                font-size: 15px;
                line-height: 20px;
                text-align: center;
                font-weight: 700;
                height: 40%;
                &:hover {
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .services {
    & .cards-col {
      padding: 0;
      & .cards-container {
        padding: 15px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 15px;
        grid-row-gap: 30px;
        & .teh-plate {
          display: block;
          width: 100%;
          & .teh-card {
            display: block;
            width: 100%;
            transition: all 0.2s;
            & .teh-image-container {
              & .teh-image {
                width: auto;
                max-width: 100%;
                height: 155px;
              }

              & .button-container {
                display: block;
                z-index: 10;
              }
            }
            & .header-container {
              z-index: 4;
              height: 110px;
              display: flex;
              justify-content: center;
              align-items: center;
              & .teh-header {
                padding-left: 15px;
                padding-right: 15px;
                font-size: 16px;
                line-height: 22px;
                text-align: center;
                font-weight: 700;
                //height: 40%;
                &:hover {
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .services {
    & .cards-col {
      padding: 0;
      & .cards-container {
        padding: 15px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 30px;
        grid-row-gap: 30px;
        & .teh-plate {
          display: block;
          width: 100%;
          & .teh-card {
            display: block;
            width: 100%;
            transition: all 0.2s;
            & .teh-image-container {
              & .teh-image {
                width: auto;
                max-width: 100%;
                height: 140px;
              }
              & .teh-content {
                //display: none;
              }
              & .button-container {
                display: block;
                z-index: 10;
              }
            }
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .services {
    & .titles {
      margin-top: 50px;
      text-align: center;
      margin-bottom: 30px;
    }
    & .cards-col {
      padding: 0;
      & .cards-container {
        padding: 15px;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 30px;
        grid-row-gap: 30px;
        & .teh-plate {
          display: block;
          width: 100%;
          & .teh-card {
            display: block;
            width: 100%;
            transition: all 0.2s;
            & .teh-image-container {
              & .teh-image {
                width: auto;
                max-width: 100%;
                height: 170px;
              }
              & .teh-content {
                display: block;
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                background: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.75) 0%,
                  rgba(0, 0, 0, 0) 100%
                );
                z-index: 4;
                height: 100px;
                padding: 15px;
                transition: all 0.2s ease-in;
                & .teh-desc {
                  color: white;
                  font-size: 14px;
                  letter-spacing: 0.5px;
                  font-weight: 300;
                  line-height: 18px;
                }
              }
              & .button-container {
                display: block;
                z-index: 10;
              }
              &:hover > .teh-content {
                opacity: 1;
              }
            }
            & .header-container {
              z-index: 4;
              height: 110px;
              display: flex;
              justify-content: center;
              align-items: center;
              & .teh-header {
                padding-left: 15px;
                padding-right: 15px;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
                font-weight: 700;
                //height: 40%;
                &:hover {
                  background: transparent;
                }
              }
            }
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
