@import "../vars";

.service-detail-card {
  //min-height: 80vh;
  & .section-plate {
    & .card-img-container {
      height: 250px;
      overflow: hidden;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      box-shadow: $box-shadow;
      & .card-img {
        // border-radius: 0;
        // height: auto;
        // width: 100%;
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
