.vspom-oborud {
  margin-top: 30px;
  padding-bottom: 80px;
  & .cta {
    display: block;
    text-align: center;
    font-weight: 700;
    line-height: 28px;
    font-size: 14px;
    margin-top: 30px;
  }
  & .tools-list-2 {
    padding: 0;
    & .tool-card {
      width: 100%;
      //height: 80px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      //padding-bottom: 15px;
      align-items: center;
      margin-top: 15px;
      border-bottom: 1px solid lightgrey;
      & .img-container-22 {
        display: block;
        width: 150px;
        height: 100%;
        background-color: green;
        overflow: hidden;
        & .tool-card-img {
          display: block;
        }
      }
      & .tool-card-desc {
        padding: 15px;
        width: 65%;
        & .text-bold {
          font-size: 12px;
          line-height: 14px;
          font-weight: 700;
        }
      }
    }
    .tool-card:nth-child(odd) {
      background-color: rgb(231, 231, 231);
    }
  }
}

.vspomOborud {
  position: relative;
  padding-bottom: 80px;
  &::after {
    position: absolute;
    z-index: -1;
    content: "";
    display: block;
    width: 70%;
    height: 98%;
    bottom: 0;
    right: 0;
    border-top: 2px solid #d44625;
    //background-color: #ecebeb;
    border-left: 3px solid #d44625;
  }
}
.tools-list {
  display: flex;
  flex-direction: column;

  & .tool-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    & .img-containeer {
      max-width: 20%;
      width: 100%;
      & .tool-card-img {
      }
    }
    & .tool-card-desc {
    }
  }
}
.documentation {
  //margin-top: 50px;
  & .orderlist {
    & .doc-point {
      margin: 30px 15px;
      & .razdel {
        font-style: italic;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        color: grey;
      }
      & .text-bold {
        font-size: 14px;
      }
      & .razdel-list {
        margin-top: 15px;
        padding: 0;
        display: flex;
        flex-direction: column;
        & .razdel-li {
          & .text-min {
            font-size: 12px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .vspom-oborud {
    & .cta {
      font-size: 16px;
      margin-top: 50px;
    }
    & .tools-list-2 {
      padding: 0;
      & .tool-card {
        & .tool-card-desc {
          padding: 15px;
          padding-left: 20px;
          width: 65%;
          & .text-bold {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .documentation {
    //margin-top: 50px;
    & .orderlist {
      & .doc-point {
        margin: 30px 15px;
        & .razdel {
          font-style: italic;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 18px;
        }
        & .text-bold {
          font-size: 16px;
          line-height: 22px;
        }
        & .razdel-list {
          margin-top: 15px;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          & .razdel-li {
            & .text-min {
              font-size: 13px;
              line-height: 16px;
            }
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .vspom-oborud {
    & .cta {
      font-size: 18px;
      margin-top: 50px;
    }
    & .tools-list-2 {
      padding: 0;
      & .tool-card {
        border-top: 1px solid lightgrey;
        & .tool-card-desc {
          padding: 15px;
          padding-left: 30px;
          width: 65%;
          & .text-bold {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
          }
        }
      }
    }
  }
  .documentation {
    //margin-top: 50px;
    & .orderlist {
      & .doc-point {
        margin: 30px 15px;
        & .razdel {
          font-style: italic;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 20px;
        }
        & .text-bold {
          font-size: 18px;
          line-height: 30px;
        }
        & .razdel-list {
          margin-top: 15px;
          padding-left: 20px;
          display: flex;
          flex-direction: column;
          & .razdel-li {
            & .text-min {
              font-size: 16px;
              line-height: 24px;
            }
          }
        }
      }
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
