@import "../vars";

.service-unit {
  padding: 15px;
  & .header-red {
    color: white;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  & .text {
    color: white;
  }
}
.service-detail-card {
  & .section-plate {
    & .card-img-container {
      //height: 250px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      & .card-img {
      }
    }
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
