@import "../vars";

.zapchasti {
  padding: 0;
  padding-bottom: 80px;

  & .text {
    padding: 5px 0px 5px 25px;

    position: relative;
    &::before {
      display: block;
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      background-color: $accent-red;
      border-top-left-radius: 10px;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  & .text-grey {
    margin-top: 45px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    font-size: 14px;
    color: #cb4828;
    text-align: center;
  }
}

// Medium devices (tablets, 576px and up)
@media (min-width: 576px) {
  .zapchasti {
    & .col-12 {
      padding-left: 0;
      padding-right: 0;
      & .text-grey {
        font-weight: 700;
        font-size: 16px;
        color: #cb4828;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .zapchasti {
    & .text-grey {
      font-weight: 700;
      font-size: 20px;
      color: #cb4828;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .zapchasti {
    & .text-grey {
      font-weight: 700;
      font-size: 24px;
      color: rgb(66, 66, 66);
    }
  }
}
// Extra large devices (large desktops, 1400px and up)
@media (min-width: 1400px) {
}
